<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="content-wrapper" >
                <!-- Content Header (Page header) -->
                <section class="content-header" >
                    <h1>
                        <%= __('Brain') %>
                        <small><%= __('Control Panel') %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
                        <li class="active"><%= __('Brain') %></li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content"  data-ng-controller="SentenceCtrl as vm">
                     <div id="tab-color" class="nav-tabs-custom nav-tabs-custom-primary">
            <ul class="nav nav-tabs">
              <li ng-class="vm.status === false && 'active'"><a style="cursor:pointer" ng-click="vm.setStatus(false)" aria-expanded="true"><%= __('sentence-all') %></a></li>
              <li ng-class="vm.status === 'pending' && 'active'"><a style="cursor:pointer" ng-click="vm.setStatus('pending')" aria-expanded="true"><%= __('sentence-pending') %></a></li>
              <li ng-class="vm.status === 'approved' && 'active'"><a style="cursor:pointer" ng-click="vm.setStatus('approved')" aria-expanded="true"><%= __('sentence-approved') %></a></li>
              <li ng-class="vm.status === 'official' && 'active'"><a style="cursor:pointer" ng-click="vm.setStatus('official')" aria-expanded="true"><%= __('sentence-official') %></a></li>
              <li ng-class="vm.status === 'rejected' && 'active'"><a style="cursor:pointer" ng-click="vm.setStatus('rejected')" aria-expanded="true"><%= __('sentence-rejected') %></a></li>

              <li class="pull-right"><button ng-hide="vm.training" class="btn btn-flat btn-primary"ng-click="vm.trainNew()" style="cursor:pointer"> <%= __('brain-train-new') %> </button></li>
              <li ng-show="vm.training" class="pull-right"><a ><%= __('brain-training') %>...</a></li>
            </ul>
            <div class="tab-content">
                
                <div class="tab-pane active" id="tab_1">
                    <!-- BEGINNING OF TAB 1 -->
                        <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th><%= __('ID') %></th>
                                                <th><%= __('Text') %></th>
                                                <th><%= __('Label') %></th>
                                                <th><%= __('Status') %></th>
                                                <th><%= __('Action') %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr infinite-scroll="vm.loadMore()" ng-repeat="sentence in vm.sentences" class="ng-cloak">
                                                <td>{{sentence.id}}</td>
                                                <td>{{sentence.text}}</td>
                                                <td>                                                    
                                                    <select name="selectRoom" id="selectRoom" class="form-control" ng-model="sentence.serviceLabelConcat" ng-change="vm.change(sentence)">
                                                            <option ng-value="label.serviceLabelConcat" ng-repeat="label in vm.labels" ng-selected="label.serviceLabelConcat == sentence.serviceLabelConcat">{{label.service}}.{{label.label}}</option>
                                                   </select>
                                                </td>
                                                <td ng-switch="sentence.status">
                                                    <p ng-switch-when="official"><%= __('official') %></p>
                                                    <p ng-switch-when="approved"><%= __('approved') %></p>
                                                    <p ng-switch-when="pending"><%= __('pending') %></p>
                                                    <p ng-switch-when="rejected"><%= __('rejected') %></p>
                                                </td>
                                                <td>
                                                    <button ng-hide="['approved', 'official'].indexOf(sentence.status) != -1" class="btn btn-flat btn-primary  "  ng-click="vm.approve(sentence.id);" ><%= __('Approve') %></button>
                                                    <button ng-hide="(sentence.status == 'rejected')" class="btn btn-flat btn-danger  "  ng-click="vm.reject(sentence.id);" ><%= __('Reject') %></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                        </div>          
                    <!-- END OF TAB 1 -->
                </div>
                
              <div class="tab-pane" id="tab_2">
                    <!-- BEGINNING OF TAB 2 -->     
                    <!-- END OF TAB 2 -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3" data-ng-controller="DeviceStateCtrl as vm">
                  <!-- BEGINNING OF TAB 3 -->
                  <!-- END OF TAB 3 -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </section><!-- /.content -->
    </aside><!-- /.content-wrapper -->


<script>
    document.getElementById("brainLi").className = "active";
</script>
