<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="content-wrapper" >
                <!-- Content Header (Page header) -->
                <section class="content-header" >
                    <h1>
                        <%= __('Home') %>
                        <small><%= __('Sensors') %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
                        <li class="active"><%= __('Sensors') %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content"  data-ng-controller="SensorCtrl as vm">
                         <div class="box-body table-responsive">

                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th><%= __('Name') %></th>
                                                <th><%= __('Code') %></th>
                                                <th><%= __('Room') %></th>
                                                <th><%= __('Action') %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sensor in vm.sensors" class="ng-cloak">
                                                <td>{{sensor.name}}</td>
                                                <td>{{sensor.code}}</td>
                                                <td>{{sensor.room}}</td>
                                                <td><button ng-click="vm.deleteSensor($index, sensor.id)" class= "btn btn-flat btn-danger  "><%= __('Delete') %></button></td>
                                            </tr>
                                            <tr>
                                                <td><button  class="btn btn-flat btn-success  " data-toggle="modal" data-target=".bs-example-modal-lg"><%= __('Add a new sensor') %></button></td>

                                            </tr>
                                        </tbody>
                                    </table>

                        </div>
                
                <!-- Large modal -->
                <div id="modalNewSensor" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                       <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title" id="myLargeModalLabel"><%= __('Connect a new sensor') %></h4>
                            </div>
                            <div class="modal-body">

                                <div class="alert alert-info alert-dismissable">
                                                        <i class="fa fa-info"></i>
                                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                         <%= __('Make sure your Raspberry Pi does have an arduino and a RF 433 Mhz receiver connected to it.') %>
                                </div>
                                <ul>
                                    <li><%= __('Click on the "Wait for signal" button at the bottom of this windows') %>
                                    </li>
                                    <li><%= __('You now have 30 seconds to fire a signal with the sensor your want to connect (for example by turning it on and moving in front of your motion sensor)') %>
                                    </li>
                                </ul>

                                <button id="waitforsignalbutton" class="btn btn-flat btn-success" ng-click="vm.switchDiscoveryMode()" ><%= __('Wait for signal') %> {{vm.timeLeft && '( ' +vm.timeLeft + ' <%= __('seconds left') %> )' }}</button>

                                <!-- form new Motion Sensor --> 
                                <div id="formNewMotionSensor" class="ng-cloak" ng-show="vm.displayForm" >
                                       <label for="inputName" ><%= __('Name') %></label>
                                        <div class="form-group">
                                          <input type="text" class="form-control" ng-model="vm.newSensor.name" id="inputName" placeholder="<%= __('Sensor Name') %>">
                                        </div>
                                      
                                      
                                        <label for="inputCode"><%= __('code') %></label>
                                        <div class="form-group" >
                                          <input type="text"  class="form-control" id="inputCode" ng-model="vm.newSensor.code" disabled>
                                        </div>
                                     

                                        <label for="selectRoom"><%= __('Room') %></label>
                                        <div class="form-group">
                                          <select id="selectRoom" ng-model="vm.newSensor.room" > 
                                                <option ng-repeat="room in vm.rooms" value= "{{room.id}}">
                                                {{room.name}}</option>
                                          </select>
                                        </div>
                           
                                    
                                        <div class="form-group">
                                          <button type="submit" ng-click="vm.createSensor()" class="btn btn-flat btn-success"><%= __('Save sensor') %></button>
                                        </div>


        
                                </div>
                                    <!-- End of form new Motion Sensor --> 
                         </div>
                  </div>
                </div>
                </div>

                </section><!-- /.content -->
            </aside><!-- /.content-wrapper -->
            
            <script>
                document.getElementById("sensorLi").className = "active";
            </script>




            