<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side" >
                <!-- Content Header (Page header) -->
                <section class="content-header" >
                    <h1>
                        <%= __('Device') %>
                        <small><%= __('Control panel') %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> <%= __('Device') %></a></li>
                        <li class="active"><%= __('Control panel') %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content"  data-ng-controller="DeviceCtrl as vm">
                         <div class="box-body table-responsive">

                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th><%= __('ID') %></th>
                                                <th><%= __('Name') %></th>
                                                <th><%= __('Protocol') %></th>
                                                <th><%= __('Service') %></th>
                                                <th><%= __('Room') %></th>
                                                <th><%= __('Action') %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="device in vm.devices" class="ng-cloak">
                                                <td>{{device.id}}</td>
                                                <td>{{device.name}}</td>
                                                <td>{{device.protocol}}</td>
                                                <td>{{device.service}}</td>
                                                <td>{{device.roomName}}</td>
                                                <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg" ><%= __('Edit') %></button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                        </div>
                
                <!-- Large modal -->
                <div id="modalNewSensor" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                       <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title" id="myLargeModalLabel"><%= __('Device') %></h4>
                            </div>
                            <div class="modal-body">
                                <!-- START OF MODAL BODY -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Device Types</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th><%= __('ID') %></th>
                                                <th><%= __('type') %></th>
                                                <th><%= __('unite') %></th>
                                                <th><%= __('min') %></th>
                                                <th><%= __('max') %></th>
                                                <th><%= __('sensor') %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="type in vm.selectedDevice.types" class="ng-cloak">
                                                <td>{{type.id}}</td>
                                                <td>{{type.type}}</td>
                                                <td>{{type.min}}</td>
                                                <td>{{type.max}}</td>
                                                <td>{{type.sensor}}</td>
                                                <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg" ><%= __('Edit') %></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                    </div>
                                
                                <!-- END OF BODY -->
                            
                            </div>
                  </div>
                </div>
                </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
            
            <script>
                document.getElementById("sensorLi").className = "active";
            </script>




            