<!-- MODAL -->
<!-- Large modal -->
<div id="modalShowModule" class="modal fade module-modal" tabindex="-1" role="dialog" aria-labelledby="moduleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="moduleModal">{{vm.selectedModule.name}}</h4>
            </div>
            <div class="modal-body">
                
                    <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="img-responsive img-rounded" alt="" ng-src="{{vm.selectedModule.img}}">
                        </div>
                        <div class="form-group">
                            <!-- <div class="row infos">
                                <div class="col-xs-6">
                                    <strong>{{vm.selectedModule.nbNotes}}</strong> <%= __('module-reviews') %>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i ng-show="vm.selectedModule.note > 0" class="fa fa-star"></i><i ng-show="vm.selectedModule.note < 1" class="fa fa-star-o"></i>
                                    <i ng-show="vm.selectedModule.note > 1" class="fa fa-star"></i><i ng-show="vm.selectedModule.note < 2" class="fa fa-star-o"></i>
                                    <i ng-show="vm.selectedModule.note > 2" class="fa fa-star"></i><i ng-show="vm.selectedModule.note < 3" class="fa fa-star-o"></i>
                                    <i ng-show="vm.selectedModule.note > 3" class="fa fa-star"></i><i ng-show="vm.selectedModule.note < 4" class="fa fa-star-o"></i>
                                    <i ng-show="vm.selectedModule.note > 4" class="fa fa-star"></i><i ng-show="vm.selectedModule.note < 5" class="fa fa-star-o"></i>
                                </div>
                            </div> -->
                            <div class="row infos">
                                <div class="col-xs-6">
                                    <%= __('module-install-version') %> <strong>{{vm.selectedModule.version}}</strong>
                                </div>
                                <div class="col-xs-6 text-right">
                                   <strong>{{vm.selectedModule.Developer}}</strong>
                                </div>
                            </div>
                            <div class="row infos">
                                <div class="col-xs-6">
                                    <a href="{{vm.selectedModule.link}}"><i class="fa fa-github"></i> <%= __('module-install-sources') %></a>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="{{vm.selectedModule.link}}/issues/new"><i class="fa fa-github"></i> <%= __('module-install-report-bug') %></a>
                                </div>
                            </div>
                        </div>
                        <div class="download-module-button form-group">
                           <button ng-show="!vm.selectedModule.installed" type="button" ng-click="vm.installModule(vm.selectedModule);" class="btn btn-flat btn-success btn-lg btn-block">
                               <div ng-show="!vm.installing"><%= __('module-install') %></div>
                               <div ng-show="vm.installing"><%= __('module-installing') %></div>
                           </button>
                           <button ng-show="vm.selectedModule.installed" type="button" ng-click="vm.uninstallModule(null, vm.selectedModule.localId);" class="btn btn-flat btn-danger btn-lg btn-block">
                               <div ng-show="!vm.uninstalling"><%= __('module-uninstall') %></div>
                               <div ng-show="vm.uninstalling"><%= __('module-uninstalling') %></div>
                           </button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active" ng-class="vm.resetModal" ><a href="#infos" data-toggle="tab"><%= __('module-infos') %></a></li>
                            <!-- <li role="presentation" ng-click="vm.getReviews(vm.selectedModule.idModule);"><a href="#review" data-toggle="tab"><%= __('module-reviews') %></a></li> -->
                            <li role="presentation" ng-click="vm.getVersions(vm.selectedModule.idModule);"><a href="#changelog" data-toggle="tab"><%= __('module-changelog') %></a></li>
                        </ul>
                        <div class="panel panel-default view tab-content">

                            <!-- Informations View -->
                            <div id="infos" class="tab-pane panel-body active" ng-bind-html="vm.selectedModule.instructions">

                            </div>

                            <!-- Avis View -->
                            <!--
                            <div id="review" class="tab-pane">
                                <ul class="list-group">
                                       <li class="list-group-item" ng-repeat="review in vm.selectedModule.reviews">
                                            <div class="form-group">
                                                <strong>{{review.name}} - <span am-time-ago="review.datetime"></span></strong>
                                            <span class="pull-right">                                                                                                                                                             </span>
                                            </div>
                                            <p>{{review.text}}</p>
                                        </li>                                
                                </ul>
                            </div>
                        -->

                            <div class="tab-pane" id="changelog">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th><%= __('module-version') %></th>
                                        <th><%= __('module-date') %></th>
                                        <th><%= __('module-changelog') %></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr ng-repeat="version in vm.selectedModule.versions">
                                            <th scope="row">{{version.version}}</th>
                                            <td><span am-time-ago="version.datetime"></span></td>
                                            <td>{{version.changelog}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            </div>   
        </div>
    </div>
</div>
<!-- END OF MODAL -->