    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title"><%= __('Sign In') %></div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"><%= __('Forgot password?') %></a></div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >
                                 <% if ( typeof req.session.flash !== 'undefined' ) { %>
                                    <div id="login-alert" class="alert alert-danger col-sm-12">
                                            <%= req.flash('error') %>
                                    </div>
                            <% } %>   
                        <form id="loginform" method="post" action="/session/create" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="<%= __('Email') %>">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="<%= __('password') %>">
                                    </div>
                                    

                                
                            <!--<div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> <%= __('Remember me') %>
                                        </label>
                                      </div>
                                    </div>-->


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <button id="btn-login" type="submit" class="btn btn-flat btn-success"><%= __('Login') %>  </button>

                                    </div>
                                </div>
                            </form>     
                        </div>                     
                    </div>  
                 </div>
            </div>
    