<!-- Right side column. Contains the navbar and content of the page -->
<aside class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= __('Me') %>
            <small><%= __('My timeline') %></small>
        </h1>
        <ol class="breadcrumb">
            <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
            <li class="active"><%= __('Me') %></li>
        </ol>
    </section>


    <section class="content" data-ng-controller="EventCtrl as vm">

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline ng-cloak" >   
                    <!-- timeline time label -->
                    <li class="" ng-show="vm.nextEvents.length > 0">
                        <span class="bg-red">
                            {{vm.nextEvents[0].start | amDateFormat:'DD MMM. YYYY'}}
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li ng-show="vm.nextEvents.length > 0">
                        <i class="fa fa-location-arrow bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="vm.nextEvents[0].start"></span></span>
                            <h3 class="timeline-header"><a href="#">{{vm.nextEvents[0].summary }}</a></h3>
                            <div class="timeline-body">
                                    <p> <%= __('You need to be in') %> 
                                    {{vm.nextEvents[0].start | amDifference : null : 'minutes' }} <%= __('minutes') %>
                                        
                                        <%= __('at') %> {{vm.nextEvents[0].location }}.</p>
                                        
                                    <p>{{vm.nextEvents[0].sentence}} ( <%= __('Arrival') %>  <span am-time-ago="vm.nextEvents[0].arrivalTime"></span> )</p> 
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    
                    
                    <!-- timeline time label -->
                    <li class="time-label" ng-show="vm.nextEvents.length == 0">
                        <span class="bg-red">
                            {{vm.now | amDateFormat:'DD MMM. YYYY'}}
                        </span>
                        <button class="pull-right btn btn-flat btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><%= __('New-event') %></button>
                    </li>
                    <!-- /.timeline-label -->
                    
                    <!-- timeline item -->
                    
                    <li infinite-scroll="vm.loadMore()" ng-repeat="event in vm.events" class="ng-cloak">
                        <i class="{{event.faIcon}} {{event.iconColor}}"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> <span am-time-ago="event.datetime"></span></span>
                            <h3 class="timeline-header" ng-class="{ 'no-border': !event.sentence }"><a href="#" class="disabled">{{event.name }} <span ng-show="event.value">( {{event.value}} )</span></a></h3>
                            <div class="timeline-footer" ng-show="event.sentence.length > 0">
                                
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
                    <li>
                        <i class="fa fa-clock-o"></i>
                    </li>
                </ul>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
    <!-- MODAL -->
    <!-- Large modal -->
    <div id="modalNewEvent" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-ng-controller="EventBoxCtrl as vm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="<%= __('Close') %>"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel"><%= __('Create-event') %></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">   
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">   
                                <form class="form-horizontal ng-cloak" >
                                    <div ng-class="{'form-group': !vm.invalidCountryCode , 'form-group has-error': vm.invalidCountryCode }">
                                        <label for="countrycode" class="col-sm-4 control-label"><%= __('box-event-title') %></label>
                                        <div class="col-sm-8">
                                            <select ng-model="vm.newEvent.code" class="form-control">
                                                <option ng-repeat="eventType in vm.eventTypes" value="{{eventType.code}}">{{eventType.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div ng-class="{'form-group': !vm.invalidRole , 'form-group has-error': vm.invalidRole }">
                                        <label for="role" class="col-sm-4 control-label"><%= __('User') %></label>
                                        <div class="col-sm-8">
                                            <select ng-model="vm.newEvent.user" class="form-control">
                                                <option ng-repeat="user in vm.users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>        
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender" class="col-sm-4 control-label">
                                                <%= __('House') %>
                                        </label>
                                        <div class="col-sm-8">
                                            <select ng-model="vm.newEvent.house" class="form-control">
                                                <option ng-repeat="house in vm.houses" value="{{house.id}}">{{house.name}}</option>
                                            </select>
                                        </div>
                                    </div> 
                                </form>      
                            </div>           
                        </div>         
                    </form>       
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-flat" ng-click="vm.createEvent(vm.newEvent);" data-dismiss="modal"><%= __('box-event-create') %></button>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF MODAL -->

</aside><!-- /.content-wrapper -->

<script>
    document.getElementById("meLi").className = "active";
</script>