
<!-- NEW BOX -->
<div class="box skin-box box-primary" data-ng-controller="AreaCtrl as vm">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('area-box-title') %> <small ng-show="vm.saving"><%= __('area-box-saving') %></small></h3>
    </div> 
        <div class="box-body table-responsive" >
            <p>
            <%= __('area-box-description') %>
            </p>
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><%= __('area-name') %></th>
                        <th><%= __('area-latitude') %></th>
                        <th><%= __('area-longitude') %></th>
                        <th><%= __('area-radius') %></th>
                        <th><%= __('area-action') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="area in vm.areas" class="ng-cloak">
                        <td><input type="text" ng-model="area.name" ng-model-options='{ debounce: 500 }' ng-change="vm.updateArea(area.id, area);" class="form-control" /></td>
                        <td><input type="text" ng-model="area.latitude" ng-model-options='{ debounce: 500 }' ng-change="vm.updateArea(area.id, area);" class="form-control" /></td>
                        <td><input type="text" ng-model="area.longitude" ng-model-options='{ debounce: 500 }' ng-change="vm.updateArea(area.id, area);" class="form-control" /></td>
                        <td><input type="text" ng-model="area.radius" ng-model-options='{ debounce: 500 }' ng-change="vm.updateArea(area.id, area);" class="form-control" /></td>
                        <td><button ng-click="vm.deleteArea($index, area.id)" class= "btn btn-flat btn-danger  "><%= __('area-delete') %></button></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" ng-model="vm.newArea.name" data-toggle="tooltip" data-original-title="<%= __('tooltip-area-name') %>" /></td>
                        <td><input type="text" class="form-control" ng-model="vm.newArea.latitude" data-toggle="tooltip" data-original-title="<%= __('tooltip-area-latitude') %>" /></td>
                        <td><input type="text" class="form-control" ng-model="vm.newArea.longitude" data-toggle="tooltip" data-original-title="<%= __('tooltip-area-longitude') %>" /></td>
                        <td><input type="text" class="form-control" ng-model="vm.newArea.radius" data-toggle="tooltip" data-original-title="<%= __('tooltip-area-radius') %>" /></td>
                        <td><button class="btn btn-success btn-flat" ng-click="vm.createArea(vm.newArea)"><%= __('area-new') %></button></td>
                    </tr>
                </tbody>
            </table>

        </div>  
</div>