<!-- NEW BOX -->
<div class="box skin-box box-primary">
<div class="box-header with-border">
    <h3 class="box-title"><%= __('parameters-box-title') %></h3>
</div>
        
        <div class="box-body table-responsive" data-ng-controller="BoxCtrl as vm">
                    <p><%= __('parameters-box-text') %></p>
                    <table id="example2" class="table table-bordered table-hover">
                        
                        <thead>
                            <tr>
                                <th><%= __('parameters-box-table-boxtype') %></th>
                                <th><%= __('parameters-box-table-x') %></th>
                                <th><%= __('parameters-box-table-y') %></th>
                                <!--<th><%= __('parameters-box-table-active') %></th>-->
                                <th><%= __('parameters-box-table-delete') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="box in vm.boxs" class="ng-cloak">
                                <td>{{box.boxType.title}}</td>
                                <td>
                                    <span ng-show="box.x == 1" ><%= __('parameters-box-left') %></span>
                                    <span ng-show="box.x == 2" ><%= __('parameters-box-right') %></span>
                                </td>
                                <td>{{box.y}}</td>
                                <!--<td><button ng-click="vm.switchStatus($index, token.id)"class="btn btn-flat {{ box.active && 'btn-success' || 'btn-danger' }}  ">{{box.active && 'On' || 'Off' }}</button></td>-->
                                <td><button ng-click="vm.destroy($index, box.id);" class= "btn btn-flat btn-danger  "><%= __('Delete') %></button></td>
                            </tr>
                            <tr>
                                <td><select name="selectBoxType" id="selectBoxType" class="form-control"
                                                            ng-options="boxType.title for boxType in vm.boxTypes track by boxType.id"
                                                            ng-model="vm.newBox.boxtype" data-toggle="tooltip" data-original-title="<%= __('tooltip-boxtype') %>" >
                                     </select>
                                </select>
                                </td>
                                <td>
                                    <select ng-model="vm.newBox.x"class="form-control" data-toggle="tooltip" data-original-title="<%= __('tooltip-box-x') %>" >
                                        <option value="1"><%= __('parameters-box-left') %></option>
                                        <option value="2"><%= __('parameters-box-right') %></option>
                                    </select>
                                    </td>
                                <td><input type="text" ng-model="vm.newBox.y"class="form-control" placeholder="y" data-toggle="tooltip" data-original-title="<%= __('tooltip-box-y') %>" /></td>
                                <td><input type="text" disabled ng-model="vm.newBox.active"class="form-control" value="1" /></td>
                                <td><button class="btn btn-success btn-flat" ng-click="vm.create(vm.newBox)"><%= __('New') %></button></td>
                            </tr>
                        </tbody>
                    </table>

        </div>
    </div>
    <!-- END OF BOX -->