<!-- NEW BOX -->
<div data-ng-controller="GatewayCtrl as vm">

    <div class="box-body table-responsive">
        <div id="loginbox" class="mainbox col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">

            <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
                <div class="col-md-6">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="/img/gateway/confirmed.svg" width="100%" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <%= __('gateway-left-explanation') %>. <a href="https://gladysproject.com/gateway"><%= __('gateway-left-explanation-know-more') %></a>.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form ng-submit="vm.login();" ng-show="vm.connected === false">

                        <div style="margin-bottom: 25px" class="input-group">
                            <h4><%= __('gateway-login-title') %></h4>
                        </div>

                        <div style="margin-bottom: 25px" ng-show="vm.error === '2FA_NOT_ENABLED'"  class="alert alert-danger col-sm-12">
                            <%= __('gateway-2fa-error') %>
                        </div>

                        <div style="margin-bottom: 25px" ng-show="vm.error === 'INVALID_LOGIN'"  class="alert alert-danger col-sm-12">
                            <%= __('gateway-login-error') %>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" ng-model="vm.email" class="form-control" name="email" value="" placeholder="<%= __('Email') %>">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" ng-model="vm.password" class="form-control" name="password" placeholder="<%= __('password') %>">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                            <input type="text" ng-model="vm.twoFactorCode" class="form-control" name="two-factor-code" placeholder="<%= __('gateway-two-factor-code') %>">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <button id="btn-login" type="submit" class="btn btn-flat btn-success btn-block">
                                <%= __('Login') %> </button>
                        </div>
                    </form>

                    <div ng-show="vm.connected === true">
                        <div style="margin-top: 75px" class="alert alert-success col-sm-12">
                           <p> <%= __('gateway-connected-sentence') %> <a style="cursor: pointer;" ng-click="vm.reconnect()"><%= __('gateway-connected-click-here') %></a>.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>