<!-- NEW BOX -->
<div class="box box-default" data-ng-controller="SystemCtrl as vm">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('system-box-title') %> <small class="ng-cloak" ng-show="vm.saving"><%= __('system-box-saving') %></small></h3>
    </div> 
        <div class="box-body table-responsive" >
            <p>
            <%= __('system-box-description') %>
            </p>
            <table id="example2" class="table table-bordered table-hover ng-cloak">
                <thead>
                    <tr>
                        <th><%= __('system-name') %></th>
                        <th><%= __('system-infos') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><%= __('system-hostname') %></td><td>{{vm.infos.hostname}}</td></tr>
                    <tr><td><%= __('system-type') %></td><td>{{vm.infos.type}}</td></tr>
                    <tr><td><%= __('system-plateform') %></td><td>{{vm.infos.plateform}}</td></tr>
                    <tr><td><%= __('system-arch') %></td><td>{{vm.infos.arch}}</td></tr>
                    <tr><td><%= __('system-release') %></td><td>{{vm.infos.release}}</td></tr>
                    <tr><td><%= __('system-uptime') %></td><td>{{vm.infos.uptime | amDurationFormat : 'seconds' }}</td></tr>
                    <tr>
                        <td><%= __('system-memory-used') %></td>
                        <td><div class="progress progress-sm active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{vm.infos.percentMemoryUsed}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.infos.percentMemoryUsed}}%">
                                <span>{{vm.infos.percentMemoryUsed | number : 0 }} %</span>
                                </div>
                          </div></td>
                   </tr>
                   <tr><td><%= __('system-update-data') %></td><td><button class="btn btn-success btn-sm" ng-click="vm.updateAllData();">
                       <div ng-show="!vm.updatingData"><%= __('system-update-data-button') %></div>
                       <div ng-show="vm.updatingData"><%= __('system-updating-data') %></div>
                   </button> </td></tr>
                   <tr><td><%= __('system-restart') %></td><td><button class="btn btn-success btn-sm" ng-click="vm.shutdown();"><%= __('system-restart-button') %></button></td></tr>
                   <tr><td><%= __('system-update') %></td><td><%= __('system-update-sentence') %> "/home/pi/rpi-update.sh"</td></tr>
                </tbody>
            </table>

        </div>  

        <!-- Modal -->
    <div class="modal fade" id="modalReboot" tabindex="-1" role="dialog" aria-labelledby="modalReboot">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="modalReboot"><%= __('system-gladys-rebooting-title') %></h4>
            </div>
            <div class="modal-body">
              <p><%= __('system-gladys-rebooting-text') %></p>

              <p><%= __('system-gladys-rebooting-last-check') %>: <span>{{vm.lastCheck | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}</span></p>
            </div>
          </div>
        </div>
      </div>

</div>






