<div  data-ng-controller="HouseCtrl as vm">
     
<!-- NEW BOX -->
<div class="box skin-box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('house-box-title') %></h3>
    </div>

<div class="box-body table-responsive">

    <p>
        <%= __('house-box-description') %>
    </p>

    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><%= __('ID') %></th>
                <th><%= __('Name') %></th>
                <th><%= __('Address') %></th>
                <th><%= __('City') %></th>
                <th><%= __('PostCode') %></th>
                <th><%= __('Country') %></th>
                <th><%= __('Latitude') %></th>
                <th><%= __('Longitude') %></th>
                <th><%= __('Action') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="house in vm.houses" class="ng-cloak">
                <td>{{house.id}}</td>
                <td>{{house.name}}</td>
                <td>{{house.address}}</td>
                <td>{{house.city}}</td>
                <td>{{house.postcode}}</td>
                <td>{{house.country}}</td>
                <td>{{house.latitude}}</td>
                <td>{{house.longitude}}</td>
                <td><button ng-click="vm.deleteHouse($index, house.id)" class= "btn btn-flat btn-danger  "><%= __('Delete') %></button></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.name" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-name') %>" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.address" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-adress') %>" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.city" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-city') %>" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.postcode" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-postcode') %>" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.country" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-country') %>" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.latitude" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-latitude') %>" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.longitude" data-toggle="tooltip" data-original-title="<%= __('tooltip-house-longitude') %>" /></td>
                <td><button class="btn btn-success btn-flat" ng-click="vm.createHouse(vm.newHouse)"><%= __('New') %></button></td>
            </tr>
        </tbody>
    </table>
    
  </div>
  
</div>

<!-- END OF HOUSE BOX -->

<!-- NEW BOX -->
<div class="box skin-box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('room-box-title') %></h3>
    </div>
    
    <div class="box-body table-responsive">

    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><%= __('ID') %></th>
                <th><%= __('Name') %></th>
                <th><%= __('House') %></th>
                <th><%= __('Action') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in vm.rooms" class="ng-cloak">
                <td>{{room.id}}</td>
                <td>{{room.name}}</td>
                <td>{{room.houseName}}</td>
                <td><button ng-click="vm.deleteRoom($index, room.id)" class= "btn btn-flat btn-danger  "><%= __('Delete') %></button></td>
            </tr>
            <tr class="ng-cloak"> 
                <td></td>
                <td><input type="text" class="form-control" ng-model="vm.newRoom.name" data-toggle="tooltip" data-original-title="<%= __('tooltip-room-name') %>" /></td>
                <td><select ng-model="vm.newRoom.house" class="form-control" data-toggle="tooltip" data-original-title="<%= __('tooltip-room-house-choice') %>" >
                        <option ng-repeat="house in vm.houses" value="{{house.id}}">{{house.name}}</option>
                </select>

                </td>
                <td><button class="btn btn-flat btn-success  " ng-click="vm.createRoom(vm.newRoom)"><%= __('New') %></button></td>
            </tr>
        </tbody>
    </table>

</div>

</div>

</div>

<%- partial ('./machines.ejs') %>

<%- partial ('./modes.ejs') %>