<div class="box-body table-responsive" data-ng-controller="HouseCtrl as vm">

    <h3><%= __('Houses') %></h3>
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><%= __('Name') %></th>
                <th><%= __('Address') %></th>
                <th><%= __('City') %></th>
                <th><%= __('PostCode') %></th>
                <th><%= __('Country') %></th>
                <th><%= __('Action') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="house in vm.houses" class="ng-cloak">
                <td>{{house.name}}</td>
                <td>{{house.address}}</td>
                <td>{{house.city}}</td>
                <td>{{house.postcode}}</td>
                <td>{{house.country}}</td>
                <td><button ng-click="vm.deleteHouse($index, house.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.name" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.address" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.city" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.postcode" /></td>
                <td><input type="text" class="form-control" ng-model="vm.newHouse.country" /></td>
                <td><button class="btn btn-success btn-sm" ng-click="vm.createHouse(vm.newHouse)"><%= __('New') %></button></td>
            </tr>
        </tbody>
    </table>

    <h3><%= __('Rooms') %></h3>

    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><%= __('Name') %></th>
                <th><%= __('House') %></th>
                <th><%= __('Action') %></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in vm.rooms" class="ng-cloak">
                <td>{{room.name}}</td>
                <td>{{room.houseName}}</td>
                <td><button ng-click="vm.deleteRoom($index, room.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
            </tr>
            <tr class="ng-cloak"> 
                <td><input type="text" class="form-control" ng-model="vm.newRoom.name" /></td>
                <td><select ng-model="vm.newRoom.house" class="form-control" >
                        <option ng-repeat="house in vm.houses" value="{{house.id}}">{{house.name}}</option>
                </select>

                </td>
                <td><button class="btn btn-success btn-sm" ng-click="vm.createRoom(vm.newRoom)"><%= __('New') %></button></td>
            </tr>
        </tbody>
    </table>

</div>