 <!-- MACHINE BOX -->
<div class="box skin-box box-primary" data-ng-controller="machineCtrl as vm">
<div class="box-header with-border">
<h3 class="box-title"><%= __('Gladys Machines') %><small class="ng-cloak" ng-show="vm.saving"><%= __('machines-saving') %>...</small></h3> 
</div>  
    
    <div class="box-body table-responsive" >
                <p><%= __('here-you-can-register-machine') %> 
                    <%= __('the-me-field-machine') %></p>
                <table id="example2" class="table table-bordered table-hover">
                    
                    <thead>
                        <tr>
                            <th><%= __('Uuid') %></th>
                            <th><%= __('Name') %></th>
                            <th><%= __('House') %></th>
                            <th><%= __('Room') %></th>
                            <th><%= __('Me') %></th>
                            <th><%= __('machine-last-seen') %></th>
                            <th><%= __('Delete') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="machine in vm.machines" class="ng-cloak">
                            <td>{{machine.uuid}}</td>
                            <td>{{machine.name}}</td>
                            <td><select  class="form-control" ng-model="machine.house" ng-change="vm.updateMachine(machine);">
                                    <option ng-repeat="house in vm.houses" ng-value="house.id" ng-selected="(house.id == machine.house)" >{{house.name}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-model="machine.room" ng-change="vm.updateMachine(machine);">
                                    <option ng-repeat="room in vm.rooms" ng-value="room.id" ng-selected="(room.id == machine.room)" >{{room.name}}</option>
                                </select>
                            </td>
                            <td><div ng-show="machine.me"><%= __('Yes') %></div><div ng-show="!machine.me"><%= __('No') %></div></td>
                            <td>
                                <span am-time-ago="machine.lastSeen"></span>
                            </td>
                            <td><button ng-click="vm.deleteMachine($index, machine.id)" class="btn btn-flat btn-danger  " ><%= __('Delete') %></button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="text" class="form-control" ng-model="vm.newMachine.name" placeholder="<%= __('Name') %>" data-toggle="tooltip" data-original-title="<%= __('tooltip-machine-name') %>" />
                            </td>
                            <td> 
                                <select  class="form-control"
                                        ng-options="house.name for house in vm.houses track by house.id"
                                        ng-model="vm.newMachine.house" data-toggle="tooltip" data-original-title="<%= __('tooltip-machine-house-choice') %>" >
                                </select>
                            </td>
                            <td> 
                                <select  class="form-control"
                                        ng-options="room.name for room in vm.rooms track by room.id"
                                        ng-model="vm.newMachine.room" data-toggle="tooltip" data-original-title="<%= __('tooltip-machine-room-choice') %>" >
                                </select>
                            </td>
                            <td>
                                <div class="toogle" ng-click="vm.newMachine.me =! vm.newMachine.me">
                                    <input type="checkbox" ng-model="vm.newMachine.me" class="toogle-checkbox toogle-blue" />
                                    <label class="toogle-label" for="mytoogle"></label>
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <button ng-click="vm.createMachine(vm.newMachine)" class="btn btn-flat btn-success  "><%= __('Register machine') %></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

    </div>
</div>
<!-- END OF MACHINE BOX -->