
<!-- NEW BOX -->
<div class="box skin-box box-primary" data-ng-controller="NotificationUserCtrl as vm">
    <div class="box-header with-border">
        <h3 class="box-title"><%= __('notification-box-title') %> <small ng-show="vm.saving"><%= __('notification-box-saving') %></small></h3>
    </div> 
        <div class="box-body table-responsive" >
            <p>
            <%= __('notification-box-description') %>
            </p>
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><%= __('notification-name') %></th>
                        <th><%= __('notification-priority') %></th>
                        <th><%= __('notification-action') %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="notificationUser in vm.notificationUsers" class="ng-cloak">
                        <td>{{notificationUser.name}}</td>
                        <td>{{notificationUser.priority}}</td>
                        <td><button ng-click="vm.destroyNotificationUser($index, notificationUser.id)" class= "btn btn-flat btn-danger  "><%= __('notification-delete') %></button></td>
                    </tr>
                    <tr>
                        <td><select ng-model="vm.newNotificationUser.notificationtype" class="form-control" data-toggle="tooltip" data-original-title="<%= __('tooltip-notification-name') %>" >
                                <option ng-repeat="notificationType in vm.notificationTypes" value="{{notificationType.id}}">{{notificationType.name}}</option>
                        </select>

                        </td>
                        <td><input type="text" class="form-control" ng-model="vm.newNotificationUser.priority" data-toggle="tooltip" data-original-title="<%= __('tooltip-notification-priority') %>" /></td>
                        <td><button class="btn btn-success btn-flat" ng-click="vm.createNotificationUser(vm.newNotificationUser)"><%= __('notification-new') %></button></td>
                    </tr>
                </tbody>
            </table>

        </div>  
</div>