<!-- NEW BOX -->
<div class="box skin-box box-primary">
<div class="box-header with-border">
    <h3 class="box-title"><%= __('Gladys API tokens') %></h3>
</div>
        <div class="box-body table-responsive" data-ng-controller="tokenCtrl as vm">
            
                    <p><%= __('token-description') %></p>
                
                    <table id="example2" class="table table-bordered table-hover">
                        
                        <thead>
                            <tr>
                                <th><%= __('Name') %></th>
                                <th><%= __('Token') %></th>
                                <th><%= __('Active') %></th>
                                <th><%= __('Delete') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="token in vm.tokens" class="ng-cloak">
                                <td>{{token.name}}</td>
                                <td>{{token.value}}</td>
                                <td>
                                    <div class="toogle" ng-click="vm.switchStatus($index, token.id)">
                                        <input type="checkbox" ng-model="token.active == 1" class="toogle-checkbox toogle-blue" />
                                        <label class="toogle-label" for="mytoogle"></label>
                                    </div>
                                </td>
                                <td><button ng-click="vm.destroyToken($index, token.id)" class= "btn btn-flat btn-danger  "><%= __('Delete') %></button></td>
                            </tr>
                            <tr>
                                <td><input type="text" ng-model="vm.newToken.name" class="form-control" placeholder="<%= __('Name') %>"/></td>
                                <td><button class="btn btn-flat btn-success  " ng-click="vm.createToken();"><%= __('New') %></button></td>
                            </tr>
                        </tbody>
                    </table>

        </div>
    </div>
    <!-- END OF BOX -->