<!-- NEW BOX -->
<div class="box box-default">
<div class="box-header with-border">
    <h3 class="box-title"><%= __('Gladys API tokens') %></h3>
</div>
        <div class="box-body table-responsive" data-ng-controller="tokenCtrl as vm">
                
                    <table id="example2" class="table table-bordered table-hover">
                        
                        <thead>
                            <tr>
                                <th><%= __('Name') %></th>
                                <th><%= __('Token') %></th>
                                <th><%= __('Active') %></th>
                                <th><%= __('Delete') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="token in vm.tokens" class="ng-cloak">
                                <td>{{token.name}}</td>
                                <td>{{token.value}}</td>
                                <td><button ng-click="vm.switchStatus($index, token.id)"class="btn {{ token.active && 'btn-success' || 'btn-danger' }} btn-sm">{{token.active && 'On' || 'Off' }}</button></td>
                                <td><button ng-click="vm.destroyToken($index, token.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
                            </tr>
                            <tr>
                                <td><input type="text" ng-model="vm.newToken.name" class="form-control" placeholder="<%= __('Name') %>"/></td>
                                <td><button class="btn btn-success btn-sm" ng-click="vm.createToken();"><%= __('New') %></button></td>
                            </tr>
                        </tbody>
                    </table>

        </div>
    </div>
    <!-- END OF BOX -->