<!-- Right side column. Contains the navbar and content of the page -->
<aside class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= __('Home') %>
            <small><%= __('Control Panel') %></small>
        </h1>
        <ol class="breadcrumb">
            <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
            <li class="active"><%= __('Dashboard') %></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!-- Main row -->
        <div class="row">

            <!-- Left col -->
            <section class="col-lg-7">                 
                
             <!-- If there are no box on dashboard ! -->
             <% if(boxs.length === 0) { %>

                  <div class="box box-info">
                        
                        <div class="box-header">
                            <i class="fa fa-info"></i>
                            <h3 class="box-title"><%= __('dashboard-default-box-title') %></h3>
                        </div> 
                        
                        <div class="box-body"><%= __('dashboard-default-box-text') %></div>
                        
                    </div>
                
              <% }  %>
              <!-- end of default box --> 
                
                
                <!-- ALL LEFT BOX COMES HERE -->
                <% 
                   for(var i = 0; i < boxs.length; i++) { 
                        if(boxs[i].x == 1) {
                %> 
                    <%- partial (basePath + '/' + boxs[i].path, {boxId: boxs[i].boxId}) %>
                <%
                    } // end of if
                 } // end of for loop
                %>
               
               <!-- END OF LOOP OF LEFT BOXS --> 

            </section><!-- /.Left col -->


            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable"> 
            
                    
                <!-- ALL RIGHT BOX COMES HERE --> 
                <% 
                    for(var i = 0; i < boxs.length; i++) { 
                        if(boxs[i].x == 2) {
                %> 
                    <%- partial (basePath + '/' + boxs[i].path, {boxId: boxs[i].boxId}) %>
                <%
                    } // end of if
                } // end of for loop
                %>
               <!-- END OF LOOP OF RIGHT BOXS -->                  

                                            

            </section><!-- right col -->
        </div><!-- /.row (main row) -->

    </section><!-- /.content -->
</aside><!-- /.content-wrapper -->

<script>
    document.getElementById("homeLi").className = "active";
</script>