<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <%= __('Demo') %>
                        <small><%= __('Control Panel') %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
                        <li class="active"><%= __('Demo') %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                         <div class="box-body table-responsive" ng-controller="DemoCtrl">

                                    
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th><%= __('Demo') %></th>
                                                <th><%= __('Action') %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Réveil</td>
                                                <td><button ng-click="demoReveil()" class= "btn btn-flat btn-success  "><%= __('Lancer la démo') %></button>
                                                <button ng-click="stopmusic()" class= "btn btn-flat btn-success  "><%= __('Couper la musique') %></button></td>
                                            </tr>
                                            <tr>
                                                <td>Notification</td>
                                                <td><button ng-click="notif()" class= "btn btn-flat btn-success  "><%= __('Lancer la démo') %></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>   


                                        <!-- MODAL -->
                                     <!-- Large modal -->
                                    <div id="modalNewScenario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                           <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="<%= __('Close') %>"><span aria-hidden="true">×</span></button>
                                                  <h4 class="modal-title" id="myLargeModalLabel"><%= __('Set an alarm') %></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <input type="datetime" class="form-control" name="" />
                                                        </div>
                                                    </div>
                                             </div>
                                      </div>
                                    </div>
                                    </div>
                                    <!-- END OF MODAL -->


                             

                        </div>
                </section><!-- /.content -->
            </aside><!-- /.content-wrapper -->


                
            