<div class="table-responsive">

<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= __('scenario-table-title') %></th>
            <th><%= __('scenario-table-event') %></th>
            <th><%= __('scenario-table-template') %></th>
            <th><%= __('Edit') %></th>
            <th><%= __('Delete') %></th>
        </tr>
    </thead>
    <tbody>

        <!-- LAUNCHER ROW -->
        <tr ng-repeat="launcher in vm.launchers" class="ng-cloak" >
            <td>
                {{launcher.title}}                 
            </td>
            <td>
               {{launcher.name}}                 
            </td>
            <td>{{launcher.condition_template}}</td>
            <td><button ng-click="vm.editScenario($index, launcher.id)" class= "btn btn-info btn-sm"><%= __('Edit') %></button></td>
            <td><button ng-click="vm.deleteLauncher($index, launcher.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
        </tr>
        <!-- END OF ROW -->
        
        <tr>
            
            <td>
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg" ><%= __('New') %></button>
                <button class="btn btn-success btn-sm" ng-click="vm.startCreateScenarioTextModal()" ><%= __('scenario-new-text-editor') %></button>
            
            </td>
        </tr>
    </tbody>

</table>
</div>