<!-- MODAL -->
<!-- Large modal -->
<div id="modalNewScenario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel"><%= __('Create a new Scenario') %></h4>
            </div>
            
            <div class="modal-body">
                <div class="row form-group">
                        <div class="col-xs-12">
                            <div id="tab-color" class="nav-tabs-custom nav-tabs-custom-primary">
                                <ul class="nav nav-tabs nav-justified">
                                    <li ng-class="{ 'active': vm.step == 1 }" ng-click="vm.initialiseVar();">
                                        <a href="#step-1">
                                            <h4 class="list-group-item-heading"><%= __('Step') %> 1</h4>
                                            <p class="list-group-item-text"><h6><%= __('scenario-modal-choose-title') %></h6></p>
                                        </a>
                                    </li>
                                    <li ng-class="{ 'active': vm.step == 2, 'disabled': vm.step < 2 }" >
                                        <a href="#step-2" >
                                            <h4 class="list-group-item-heading"><%= __('Step') %> 2</h4>
                                            <p class="list-group-item-text"><h6><%= __('scenario-modal-choose-category') %></h6></p>
                                        </a>
                                    </li>
                                    <li ng-class="{ 'active': vm.step == 3, 'disabled': vm.step < 3 }">
                                        <a href="#step-3" >
                                            <h4 class="list-group-item-heading"><%= __('Step') %> 3</h4>
                                            <p class="list-group-item-text"><h6><%= __('scenario-modal-choose-trigger') %></h6></p>
                                        </a>
                                    </li>
                                    <li ng-class="{ 'active': vm.step == 4, 'disabled': vm.step < 4 }">
                                        <a href="#step-4" >
                                            <h4 class="list-group-item-heading"><%= __('Step') %> 4</h4>
                                            <p class="list-group-item-text"><h6><%= __('scenario-modal-add-conditions') %></h6></p>
                                        </a>
                                    </li>
                                    <li ng-class="{ 'active': vm.step == 5, 'disabled': vm.step < 3 }">
                                        <a href="#step-5">
                                            <h4 class="list-group-item-heading"><%= __('Step') %> 5</h4>
                                            <p class="list-group-item-text"><h6><%= __('scenario-modal-choose-actions') %></h6></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- STEP 1 ADD TITLE -->
                    <div class="row setup-content" id="step-1" ng-show="vm.step == 1">
                            <div class="col-md-4">
                                    <label><%= __('scenario-modal-enter-title') %> :</label>
                            </div>
                            <div class="col-md-4">
                                  <input id="scenarioTitle" class="form-control" ng-model="vm.newLauncher.title" placeholder="<%= __('scenario-modal-title') %>" type="text">
                            </div>
                            <div class="form-group">
                                  <div class="col-md-2 col-md-offset-10">
                                    <button class="btn btn-flat btn-success" ng-class="{'disabled': (vm.newLauncher.title === '' || vm.newLauncher.title === undefined) }" ng-click="vm.nextStep();"><%= __('scenario-next-step') %></button>
                                  </div>
                            </div>
                    </div>
                    <!-- END OF STEP 1 -->

                    <!-- STEP 2 SELECT CATEGORY -->
                    <div  class="row setup-content" id="step-2" ng-show="vm.step == 2">

                        <div class="col-xs-12 col-md-4" ng-repeat="category in vm.categories" ng-click="vm.selectCategory(category.service);">
                            <div class="panel panel-default">
                                <div class="panel-image">
                                    <img class="img-responsive" ng-src="{{category.image}}">
                                </div>
                                <div class="panel-body text-center">
                                    <h4 style="text-transform: capitalize;">{{category.name}}</h4>
                                </div>
                                <div class="panel-footer text-center">
                                        <a style="cursor: pointer"><%= __('scenario-modal-select-service') %></a>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                    <!-- ENF OD STEP 2 SELECT CATEGORY -->


                    <!-- STEP 3 CHOOSE TRIGGER  -->
                    <div class="row setup-content" id="step-3" ng-show="vm.step == 3">
                        <div class="col-xs-12">
                            <div class="col-md-12 well text-center">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th><%= __('scenario-name') %></th>
                                            <th><%= __('scenario-description') %></th>
                                            <th><%= __('scenario-select') %></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="eventType in vm.eventTypes">
                                                <td>{{eventType.name}}</td>
                                                <td>{{eventType.description}}</td>
                                                <td><input type="radio" name="eventTypeRadio" id="eventTypeRadio" value="{{eventType.id}}" ng-click="vm.selectEventType($index, eventType.id)"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                <form class="form-horizontal">
                                   
                                    <div class="form-group" ng-repeat="launcherParam in vm.launcherParams">
                                        <label for="inputEmail3" class="col-sm-2 control-label">{{launcherParam.name}} :</label>
                                        <div class="col-sm-2" >
                                            <select ng-show="!launcherParam.options" ng-model="launcherParam.operator"  class="form-control">
                                                <option value="=="><%= __('scenario-equal') %></option>
                                                <option value="!="><%= __('scenario-different') %></option>
                                                <option value=">="><%= __('scenario-greater-or-equal') %></option>
                                                <option value=">"><%= __('scenario-greater') %></option>
                                                <option value="<="><%= __('scenario-less-or-equal') %></option>
                                                <option value="<"><%= __('scenario-less') %></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-8">
                                            <select ng-show="launcherParam.options" ng-model="launcherParam.value" class="form-control" >
                                                <option ng-repeat="option in launcherParam.options" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                            
                                            <input ng-show="!launcherParam.options" id="launcherparametre" type="text" ng-model="launcherParam.value" class="form-control" placeholder="<%= __('Parametre') %>">
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-10">
                                        <button type="submit" class="btn btn-flat btn-success" ng-click="vm.nextStep();"><%= __('scenario-next-step') %></button>
                                        </div>
                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END OF STEP 2 -->
                    
                     <!-- STEP 3 CHOOSE CONDITION  -->
                    <div class="row setup-content" id="step-4" ng-show="vm.step == 4">
                        <div class="col-xs-12">
                            
                            <div class="col-md-12 well text-center">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                             <th><%= __('scenario-name') %></th>
                                            <th><%= __('scenario-description') %></th>
                                            <th><%= __('scenario-select') %></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="stateType in vm.stateTypes">
                                                <td>{{stateType.name}}</td>
                                                <td>{{stateType.description}}</td>
                                                <td><button  class="btn btn-flat btn-success  " ng-click="vm.addState($index, stateType)" ><%= __('scenario-state-add') %></button></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    
                                
                            </div>
                            
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-10">
                                        <%= __('scenario-conditions-explained') %>
                                    </div>
                                    <div class="col-md-2">
                                             <div class="form-group">
                                                <button type="submit" class="btn btn-flat btn-success" ng-click="vm.nextStep();"><%= __('scenario-next-step') %></button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- CONDITION ROW -->
                            <div class="well" ng-repeat="state in vm.states">
                                
                                 <form class="form-horizontal">
                                     
                                    <h4>{{state.name}}</h4>
                                   
                                   <!-- State Params -->
                                    <div class="form-group" ng-repeat="stateParam in state.params">
                                        <label for="inputEmail3" class="col-sm-2 control-label">{{stateParam.name}} :</label>
                                        
                                        <div class="col-sm-8">
                                            <select ng-show="stateParam.options" ng-model="stateParam.value" class="form-control" >
                                                <option ng-repeat="option in stateParam.options" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                            
                                            <input ng-show="!stateParam.options" id="stateParametre" type="text" ng-model="stateParam.value" class="form-control" placeholder="<%= __('Parametre') %>">
                                       </div>
                                    </div>
                                    
                                    <!-- State TemplateParams -->
                                    <div class="form-group" ng-repeat="stateParam in state.templateParams">
                                        <label for="inputEmail3" class="col-sm-2 control-label">{{stateParam.name}} :</label>
                                        <div class="col-sm-2" ng-show="!stateParam.options">
                                            <select ng-model="stateParam.operator" class="form-control">
                                                <option value="=="><%= __('scenario-equal') %></option>
                                                <option value="!="><%= __('scenario-different') %></option>
                                                <option value=">="><%= __('scenario-greater-or-equal') %></option>
                                                <option value=">"><%= __('scenario-greater') %></option>
                                                <option value="<="><%= __('scenario-less-or-equal') %></option>
                                                <option value="<"><%= __('scenario-less') %></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-8" ng-show="stateParam.options" >
                                            <select ng-model="stateParam.value" class="form-control" >
                                                <option ng-repeat="option in stateParam.options" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                        </div>  
                                        
                                        <div class="col-sm-6" ng-show="!stateParam.options">
                                            <input id="stateParametre" type="text" ng-model="stateParam.value" class="form-control" placeholder="<%= __('Parametre') %>">
                                        </div>
                                    </div>
                                    <!-- end of stateTemplateParams -->
                                    
                                   <div class="form-group">
                                        <button class="pull-right scenario-delete-row btn btn-flat btn-danger  " ng-click="vm.removeState($index, state.id);"><%= __('scenario-delete') %></button>
                                    </div>
                                    
                                   
                                </form>
                                
                                
                            </div>
                            <!-- END OF CONDITION ROW -->
                            
                        </div>
                    </div>
                    <!-- END OF STEP 3 -->



                   

                        <!-- STEP 4 CHOOSE ACTIONS -->
                    <div class="row setup-content" id="step-5" ng-show="vm.step == 5">
                        <div class="col-xs-12">
                            <div class="col-md-12 well text-center">
                                <h1 class="text-center"><%= __('scenario-actions') %></h1>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th><%= __('scenario-name') %></th>
                                            <th><%= __('scenario-description') %></th>
                                            <th><%= __('scenario-select') %></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="actionType in vm.actionTypes">
                                                <td>{{actionType.name}}</td>
                                                <td>{{actionType.description}}</td>
                                                <td><button class="btn btn-flat btn-success  " ng-click="vm.addAction($index, actionType)" ><%= __('scenario-action-add') %></button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>
                            
                           <div class="well">
                                <div class="row">
                                    <div class="col-md-8">
                                        <%= __('scenario-actions-explained') %>
                                    </div>
                                    <div class="col-md-4">
                                             <div class="form-group">
                                                <button type="submit" class="btn btn-flat btn-success" ng-click="vm.insertAll();"><%= __('scenario-save') %></button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="well" ng-repeat="action in vm.actions">
                                
                                <form class="form-horizontal">
                                    
                                    <h4>{{action.name}}</h4>
                                   
                                    <div class="form-group" ng-repeat="actionTypeParam in action.params">
                                        <label for="inputEmail3" class="col-sm-2 control-label">{{actionTypeParam.name}} :</label>
                                        <div class="col-sm-2" >
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <select ng-show="actionTypeParam.options" ng-model="actionTypeParam.value" class="form-control" >
                                                <option ng-repeat="option in actionTypeParam.options" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                            
                                            <input ng-show="!actionTypeParam.options" id="actionTypeParam" type="text" ng-model="actionTypeParam.value" class="form-control" placeholder="<%= __('Parametre') %>">
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <button class="pull-right scenario-delete-row btn btn-flat btn-danger  " ng-click="vm.removeAction($index, action.id);"><%= __('scenario-delete') %></button>
                                    </div>
                                   
                                </form>
                                
                                
                            </div>
                            
                            
                           
                        </div>
                        
                        
                    </div>
                    <!-- END OF STEP 3 -->
                
            </div>
    </div>
</div>
</div>
<!-- END OF MODAL -->