<!-- MODAL -->
<!-- Large modal -->
<div id="modalNewScenario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel"><%= __('Create a new Scenario') %></h4>
            </div>
            <div class="modal-body">

                <div class="row form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                                <li ng-class="{ 'active': vm.step == 1, 'disabled': vm.step != 1  }"><a href="#step-1" >
                                    <h4 class="list-group-item-heading"><%= __('Step') %> 1</h4>
                                    <p class="list-group-item-text"><%= __('scenario-modal-choose-category') %></p>
                                </a></li>
                                <li ng-class="{ 'active': vm.step == 2, 'disabled': vm.step != 2  }"><a href="#step-1" >
                                    <h4 class="list-group-item-heading"><%= __('Step') %> 2</h4>
                                    <p class="list-group-item-text"><%= __('scenario-modal-choose-trigger') %></p>
                                </a></li>
                                <li ng-class="{ 'active': vm.step == 3, 'disabled': vm.step == 2  }"><a href="#step-2" >
                                    <h4 class="list-group-item-heading"><%= __('Step') %> 3</h4>
                                    <p class="list-group-item-text"><%= __('scenario-modal-add-conditions') %></p>
                                </a></li>
                                <li ng-class="{ 'active': vm.step == 4, 'disabled': vm.step != 4  }"><a href="#step-3">
                                    <h4 class="list-group-item-heading"><%= __('Step') %> 4</h4>
                                    <p class="list-group-item-text"><%= __('scenario-modal-choose-actions') %></p>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    
                    
                    <!-- STEP 1 SELECT CATEGORY -->
                    <div  class="row setup-content" id="step-1" ng-show="vm.step == 1">

                        <div class="col-xs-12 col-md-4" ng-repeat="category in vm.categories" ng-click="vm.selectCategory(category.id);">
                            <div class="panel panel-default">
                                <div class="panel-image">
                                    <img class="img-responsive" ng-src="{{category.image}}">
                                </div>
                                <div class="panel-body">
                                    <h4 style="text-transform: capitalize;">{{category.name}}</h4>
                                </div>
                                <div class="panel-footer text-center">
                                        <a><%= __('scenario-modal-select-service') %></a>
                                </div>
                            </div>
                        </div> 
                    </div>
                    
                    <!-- ENF OD STEP 1 SELECT CATEGORY -->


                    <!-- STEP 2 CHOOSE TRIGGER  -->
                    <div class="row setup-content" id="step-2" ng-show="vm.step == 2">
                        <div class="col-xs-12">
                            <div class="col-md-12 well text-center">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th><%= __('Name') %></th>
                                            <th><%= __('Description') %></th>
                                            <th><%= __('Select') %></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="eventType in vm.eventTypes">
                                                <td>{{eventType.name}}</td>
                                                <td>{{eventType.description}}</td>
                                                <td><input type="radio" name="eventTypeRadio" id="eventTypeRadio" value="{{eventType.id}}" ng-click="vm.selectEventType($index, eventType.id, eventType.optionspath)"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                <form class="form-horizontal">
                                   
                                    <div class="form-group" ng-repeat="launcherParam in vm.launcherParams">
                                        <label for="inputEmail3" class="col-sm-2 control-label">{{launcherParam.name}} :</label>
                                        <div class="col-sm-2" >
                                            <select ng-show="!launcherParam.options"  class="form-control">
                                                <option value="==">égal</option>
                                                <option value="!=">différent de</option>
                                                <option value=">=">supérieur ou égal</option>
                                                <option value=">">strictement supérieur</option>
                                                <option value="<=">inférieur ou égal</option>
                                                <option value="<">strictement inférieur</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-8">
                                            <select ng-show="launcherParam.options" ng-model="vm.newLauncher.params[$index]" class="form-control" >
                                                <option ng-repeat="option in launcherParam.options" value="{{option.id}}">{{option.name}}</option>
                                            </select>
                                            
                                            <input ng-show="!launcherParam.options" id="launcherparametre" type="text" ng-model="vm.newLauncher.params[$index]" class="form-control" placeholder="<%= __('Parametre') %>">
                                       </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-10">
                                        <button type="submit" class="btn btn-success">Next</button>
                                        </div>
                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END OF STEP 2 -->



                    <!-- STEP 2 -->
                    <div class="row setup-content" id="step-2" ng-show="vm.step == 2">
                        <div class="col-xs-12">
                            <div class="col-md-12 well text-center">
                                <h1 class="text-center"><%= __('Conditions') %></h1>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th><%= __('Name') %></th>
                                            <th><%= __('Description') %></th>
                                            <th><%= __('Select') %></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="statetype in vm.stateTypes">
                                                <td>{{statetype.name}}</td>
                                                <td>{{statetype.description}}</td>
                                                <td><input type="radio" name="stateChoice" id="stateChoice" value="{{statetype.id}}" ng-click="vm.selectState($index, statetype.id)"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                <form class="form-inline">
                                    <div ng-show="!vm.selectedState.optionspath" class="form-group">
                                    <input type="text" class="form-control"  disabled="disabled" value="{{vm.selectedState.name}}" />
                                    <select  class="form-control" id="stateOperator" ng-model="vm.newState.operator" >
                                        <option value="=="><%= __('equals') %></option>
                                        <option value="!=" ><%= __('different') %></option>
                                        <option value=">" ><%= __('strictly greater than') %></option>
                                        <option value="<" ><%= __('strictly lower than') %></option>
                                        <option value=">=" ><%= __('greater than') %></option>
                                        <option value="<=" ><%= __('lower than') %></option>
                                    </select>

                                    </div>
                                    <div class="form-group">
                                    <label class="sr-only" for="launcherparametre"><%= __('Parametre') %></label>
                                        <input ng-show="!vm.selectedState.optionspath" id="launcherparametre" type="text" class="form-control" placeholder="<%= __('Parametre') %>" ng-model="vm.newState.parametre" />
                                    <!--<select ng-show="selectedlauncher.optionspath" ng-model="newLauncher.parametre" class="form-control" >
                                        <option value="" selected="selected"><%= __('Always') %></option>
                                        <option ng-repeat="launcheroption in launcheroptions" value="{{launcheroption.id}}">{{launcheroption.name}}</option>
                                </select>-->
                                    </div>
                                    
                                    <button type="submit" ng-click="vm.createState()" class="btn btn-success"><%= __('Save condition') %></button>

                                    <button type="submit" ng-click="vm.skipState()" class="btn btn-default"><%= __('Skip conditions') %></button>
                                </form>

                                <table class="table table-bordered table-hover" style="margin-top : 20px;">
                                        <!-- <thead>
                                            <th><%= __('Name') %></th>
                                            <th><%= __('Action') %></th>
                                        </thead>-->
                                        <tbody>
                                            <tr ng-repeat="savedstate in vm.savedStates">
                                                <td>{{savedstate.name}} {{savedstate.operator}} {{savedstate.parametre}} </td>
                                                <td><button ng-click="vm.destroyState($index, vm.savedStates, savedstate.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
                                            </tr>
                                        </tbody>
                                    </table>




                            </div>


                        </div>
                    </div>
                    <!-- END OF STEP 2 -->







                        <!-- STEP 3 -->
                    <div class="row setup-content" id="step-3" ng-show="vm.step == 3">
                        <div class="col-xs-12">
                            <div class="col-md-12 well text-center">
                                <h1 class="text-center"><%= __('Actions') %></h1>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th><%= __('Name') %></th>
                                            <th><%= __('Description') %></th>
                                            <th><%= __('Select') %></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="actiontype in vm.actionTypes">
                                                <td>{{actiontype.name}}</td>
                                                <td>{{actiontype.description}}</td>
                                                <td><input type="radio" name="actionChoice" id="actionChoice" value="{{actiontype.id}}" ng-click="vm.selectAction($index, actiontype.id)"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                <form class="form-inline">
                                    <div ng-show="!vm.selectedAction.optionspath" class="form-group">
                                    <input type="text" class="form-control"  disabled="disabled" value="{{vm.selectedAction.name}}" />
                                    </div>
                                    <div class="form-group">
                                    
                                        <input ng-show="!vm.selectedAction.optionspath" id="actionparametre" type="text" class="form-control" ng-model="vm.newAction.parametre"  placeholder="<%= __('Parametre') %>">

                                    <select ng-show="vm.selectedAction.optionspath" ng-model="vm.newAction.parametre" class="form-control" >
                                        <option value="" selected="selected"><%= __('All') %></option>
                                        <option ng-repeat="actionoption in vm.actionOptions" value="{{actionoption.id}}">{{actionoption.name}}</option>
                                </select>
                                    </div>
                                    
                                    <button type="submit" ng-click="vm.createAction()" class="btn btn-success"><%= __('Save action') %></button>

                                    <button type="submit" ng-click="vm.finishScenario()" class="btn btn-default"><%= __('Next') %></button>
                                </form>

                                    <table class="table table-bordered table-hover" style="margin-top : 20px;">
                                        <!-- <thead>
                                            <th><%= __('Name') %></th>
                                            <th><%= __('Action') %></th>
                                        </thead>-->
                                        <tbody>
                                            <tr ng-repeat="savedaction in vm.savedActions">
                                                <td>{{savedaction.name}} {{savedaction.parametre}} </td>
                                                <td><button ng-click="vm.destroyAction($index,vm.savedActions,  savedaction.id)" class= "btn btn-danger btn-sm"><%= __('Delete') %></button></td>
                                            </tr>
                                        </tbody>
                                    </table>



                            </div>
                        </div>
                    </div>
                    <!-- END OF STEP 3 -->
                
            </div>
    </div>
</div>
</div>
<!-- END OF MODAL -->