<!DOCTYPE html>
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
<html>
  <head>
    <title><%= __('Server Error') %></title>
      <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
    </head>
    <body>      
        <!-- Main content -->
        <section class="content">

          <div class="error-page">
            <h2 class="headline text-red">403</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-red"></i> <% if (typeof error !== 'undefined') { %>
          <%= error %>
          <% } else { %>
          You don't have permission to see the page you're trying to reach.
          <% } %></h3>
              <p>
                <%= __('We will work on fixing that right away.') %>
               <%= __('Meanwhile, you may') %>  <a href="/dashboard"><%= __('return to dashboard') %></a>.
              </p>
            </div>
          </div><!-- /.error-page -->

        </section><!-- /.content -->
  </body>
</html>

