<!DOCTYPE html>
<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<html>
  <head>
    <title><%= __('Page Not Found') %></title>
      <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css">
  </head>
  <body>
        <!-- Main content -->
        <section class="content">

          <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-yellow"></i> <%= __('Oops! Page not found.') %></h3>
              <p>
                <%= __('We could not find the page you were looking for.') %>
               <%= __('Meanwhile, you may') %>  <a href="/dashboard"><%= __('return to dashboard') %></a>.
              </p>
             
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
        </section><!-- /.content -->
     
  </body>
</html>
