<!DOCTYPE html>
<html>
  <head>
    <title><%= pageName %> | <%= User.assistantName %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
    <!-- AUTO INJECTION OF CSS FILES -->
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/ionicons.min.css">
    <link rel="stylesheet" href="/styles/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/styles/angular-ui-notification/angular-ui-notification.min.css">
    <link rel="stylesheet" href="/styles/AdminLTE.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker.min/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/store.css">
    <link rel="stylesheet" href="/styles/scenario.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/angular-chart/angular-chart.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-slider/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/styles/device.css">
    <link rel="stylesheet" href="/styles/weather.css">
    <link rel="stylesheet" href="/styles/leaflet/leaflet.css">
    <link rel="stylesheet" href="/styles/onoffswitch.css">
    <!--STYLES END-->
    
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
    </style>

  </head>

  <body class="skin-blue" ng-app="gladys"> 
      
        <header class="header">
            <a href="#" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <%= User.assistantName %>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">

                       
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu" data-ng-controller="NotificationCtrl as vm" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="vm.read();">
                                <i class="fa fa-warning"></i> 
                                <span class="label label-info ng-cloak">{{ vm.nbNotifications }}</span>
                            </a>
                            <ul class="dropdown-menu ng-cloak" >
                                <li class="header"><%= __('You have') %> {{ vm.nbNotifications }} <%= __('notification') %>{{ vm.nbNotifications > 1 && 's' || ''}}</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="notification in vm.notifications" >
                                            <a href="#">
                                                <i class="{{notification.icon}} {{notification.iconColor}}"></i> {{notification.title}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!--<li class="footer"><a href="/dashboard/me"><%= __('View all') %></a></li>-->
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span><%= User.firstname + ' ' + User.lastname %> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                               
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    
                                    <div class="pull-left">
                                        <a href="/lock" class="btn btn-default btn-flat"><%= __('Lock') %></a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/session/destroy" class="btn btn-default btn-flat"><%= __('Sign out') %></a>
                                    </div>
                                </li>
                                
                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <!--<div class="pull-left image">
                            <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
                        </div>-->
                        <div class="pull-left info">
                            <p><%= __('Hello') %> <%= User.firstname %> !</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> <%= __('Online') %></a>
                        </div>
                    </div>
                    <!-- search form -->
                    <!--<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>-->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li id="homeLi" >
                            <a href="/dashboard">
                                <i class="fa fa-dashboard"></i> <span><%= __('Home') %></span>
                            </a>
                        </li>
                        <li id="meLi"  >
                            <a href="/dashboard/me">
                                <i class="fa fa-user"></i> <span><%= __('Me') %></span> <!--<small class="badge pull-right bg-green">new</small>-->
                            </a>
                        </li>
                        <li id="alarmLi" class="treeview">
                            <a href="/dashboard/alarm"> 
                                <i class="fa fa-clock-o"></i>
                                <span><%= __('Alarms') %></span>
                            </a>
                        </li>
                        <li id="sensorLi" class="treeview">
                            <a href="/dashboard/device">
                                <i class="fa fa-rss"></i> <span><%= __('Devices') %></span>
                            </a>
                        </li>
                        <li id="mapsLi" class="treeview">
                            <a href="/dashboard/maps">
                                <i class="fa fa-map-marker"></i> <span><%= __('Maps') %></span>
                            </a>
                        </li>
                        <li id="brainLi" class="treeview">
                            <a href="/dashboard/sentence">
                                <i class="fa fa-bolt"></i> <span><%= __('Brain') %></span>
                            </a>
                        </li>
                        <li id="scenarioLi" class="treeview">
                            <a href="/dashboard/scenario">
                                <i class="fa fa-tasks"></i> <span><%= __('Scenarios') %></span>
                            </a>
                        </li>
                        <li id="moduleLi" class="treeview">
                            <a href="/dashboard/module">
                                <i class="fa fa-cloud-download"></i> <span><%= __('Modules') %></span>
                            </a>
                        </li>
                        <li id="scriptLi" >
                            <a href="/dashboard/script">
                                <i class="fa fa-file-text-o"></i> <span><%= __('Scripts') %></span>
                            </a>
                        </li>
                        <li id="parametreLi" class="treeview">
                            <a href="/dashboard/parametres">
                                <i class="fa fa-gear"></i> <span><%= __('Parametres') %></span>
                            </a>
                        </li>
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

         <!-- Include the view file for the current controller/route -->
         <%- body %>
         
         
        <!-- Location Controller -->
            <div data-ng-controller="geoLocationCtrl as vm" ></div>
        <!-- End of Location Controller -->



        </div><!-- ./wrapper -->

        <footer class="main-footer hidden-sm hidden-xs">
          <div class="pull-right">
            <span>Gladys <%= gladys.version %></span>
            <a class="fa fa-github-alt" href="https://github.com/GladysProject/Gladys" target="_blank"></a>
            <a class="fa fa-link" href="http://gladysproject.com" target="_blank"></a>
          </div>            
        </footer>
   
        <!-- search bar -->
        <%- partial ('./partials/search.ejs') %>
        <!-- end of search bar -->
    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    
    <!-- listen on socket.io for incoming messages -->
    <!--<script type="text/javascript" src="/js/app.js"></script>-->



    <!-- Your scripts here? -->
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/moment-with-locales.js"></script>
    <script src="/js/dependencies/chart.min.js"></script>
    <script src="/js/dependencies/ace/ace.js"></script>
    <script src="/js/dependencies/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/dependencies/datepicker/bootstrap-datepicker.js"></script>
    <script src="/js/dependencies/bootstrap-slider.min.js"></script>
    <script src="/js/dependencies/leaflet.js"></script>
    <script src="/js/dependencies/js-yaml.min.js"></script>
    <script src="/js/ng-device-detector/ng-device-detector.min.js"></script>
    <script src="/js/ng-infinite-scroll/ng-infinite-scroll.js"></script>
    <script src="/js/angular-moment/angular-moment.min.js"></script>
    <script src="/js/angular-ui-notification/angular-ui-notification.min.js"></script>
    <script src="/js/smooth-scroll/angular-smooth-scroll.min.js"></script>
    <script src="/js/angular-chart/angular-chart.min.js"></script>
    <script src="/js/angular-translate/angular-translate.min.js"></script>
    <script src="/js/angular-slider/slider.js"></script>
    <script src="/js/angular-device-detector/ng-device-detector.min.js"></script>
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/app.run.js"></script>
    <script src="/js/app/action/action.service.js"></script>
    <script src="/js/app/actiontype/actiontype.service.js"></script>
    <script src="/js/app/alarm/alarm.controller.js"></script>
    <script src="/js/app/alarm/alarm.service.js"></script>
    <script src="/js/app/area/area.controller.js"></script>
    <script src="/js/app/area/area.service.js"></script>
    <script src="/js/app/box/box.controller.js"></script>
    <script src="/js/app/box/box.service.js"></script>
    <script src="/js/app/boxtype/boxtype.service.js"></script>
    <script src="/js/app/brain/brain.controller.js"></script>
    <script src="/js/app/brain/brain.service.js"></script>
    <script src="/js/app/browser/browser.service.js"></script>
    <script src="/js/app/cache/cacheService.js"></script>
    <script src="/js/app/calendar/calendar.controller.js"></script>
    <script src="/js/app/calendar/calendar.service.js"></script>
    <script src="/js/app/category/category.service.js"></script>
    <script src="/js/app/device/device.controller.js"></script>
    <script src="/js/app/device/device.service.js"></script>
    <script src="/js/app/device/deviceState.controller.js"></script>
    <script src="/js/app/event/event.box.controller.js"></script>
    <script src="/js/app/event/event.controller.js"></script>
    <script src="/js/app/event/event.service.js"></script>
    <script src="/js/app/eventtype/eventtype.service.js"></script>
    <script src="/js/app/geocoder/geocoder.service.js"></script>
    <script src="/js/app/geolocation/geolocation.controller.js"></script>
    <script src="/js/app/geolocation/geolocation.service.js"></script>
    <script src="/js/app/global/language.service.js"></script>
    <script src="/js/app/house/house.controller.js"></script>
    <script src="/js/app/house/house.service.js"></script>
    <script src="/js/app/installation/installation.controller.js"></script>
    <script src="/js/app/installation/installation.service.js"></script>
    <script src="/js/app/launcher/launcher.service.js"></script>
    <script src="/js/app/machine/machine.controller.js"></script>
    <script src="/js/app/machine/machine.service.js"></script>
    <script src="/js/app/maps/maps.controller.js"></script>
    <script src="/js/app/message/message.controller.js"></script>
    <script src="/js/app/message/message.service.js"></script>
    <script src="/js/app/mode/mode.controller.js"></script>
    <script src="/js/app/mode/mode.service.js"></script>
    <script src="/js/app/module/module.controller.js"></script>
    <script src="/js/app/module/module.service.js"></script>
    <script src="/js/app/music/music.controller.js"></script>
    <script src="/js/app/music/music.service.js"></script>
    <script src="/js/app/notification/notification.controller.js"></script>
    <script src="/js/app/notification/notification.service.js"></script>
    <script src="/js/app/notificationuser/notificationuser.controller.js"></script>
    <script src="/js/app/notificationuser/notificationuser.service.js"></script>
    <script src="/js/app/now/now.controller.js"></script>
    <script src="/js/app/param/param.controller.js"></script>
    <script src="/js/app/param/param.service.js"></script>
    <script src="/js/app/paramuser/paramUser.controller.js"></script>
    <script src="/js/app/paramuser/paramUser.service.js"></script>
    <script src="/js/app/recognition/recognition.service.js"></script>
    <script src="/js/app/room/room.service.js"></script>
    <script src="/js/app/scenario/scenario.controller.js"></script>
    <script src="/js/app/scenario/scenario.service.js"></script>
    <script src="/js/app/script/script.controller.js"></script>
    <script src="/js/app/script/script.service.js"></script>
    <script src="/js/app/sensor/sensor.controller.js"></script>
    <script src="/js/app/sensor/sensor.service.js"></script>
    <script src="/js/app/sentence/sentence.controller.js"></script>
    <script src="/js/app/sentence/sentence.service.js"></script>
    <script src="/js/app/sleep/sleep.controller.js"></script>
    <script src="/js/app/sleep/sleep.service.js"></script>
    <script src="/js/app/socket/socket.service.js"></script>
    <script src="/js/app/sound/sound.service.js"></script>
    <script src="/js/app/state/state.service.js"></script>
    <script src="/js/app/statetype/statetype.service.js"></script>
    <script src="/js/app/store/store.service.js"></script>
    <script src="/js/app/system/system.controller.js"></script>
    <script src="/js/app/system/system.service.js"></script>
    <script src="/js/app/token/token.controller.js"></script>
    <script src="/js/app/token/token.service.js"></script>
    <script src="/js/app/translate/translate.config.js"></script>
    <script src="/js/app/update/update.service.js"></script>
    <script src="/js/app/user/user.controller.js"></script>
    <script src="/js/app/user/user.service.js"></script>
    <script src="/js/app/voice/voice.service.js"></script>
    <script src="/js/app/weather/weather.controller.js"></script>
    <script src="/js/app/weather/weather.service.js"></script>
    <script src="/js/AdminLTE/app.js"></script>
    <!--SCRIPTS END-->
    

    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
