<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= pageName %> | <%= User.assistantName %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
    <!-- AUTO INJECTION OF CSS FILES -->
    
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
    
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none;
    }
    </style>

    <!-- Your scripts here? -->
    
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->
    
  </head>

  <body id="body" class="hold-transition sidebar-mini skin-blue" ng-app="gladys"> 
        <div class="wrapper">
                <header class="main-header">
                        <a href="/dashboard" style="text-decoration:none" class="logo">
                            <!-- Add the class icon to your logo image or logo icon to add the margining -->
                            <span class="logo-mini">
                                <b>G</b>
                            </span>
                            <span class="logo-lg">
                                 <%= User.assistantName %>
                            </span>

                        </a>
                        <!-- Header Navbar: style can be found in header.less -->
                        <nav class="navbar navbar-static-top" role="navigation">
                            <!-- Sidebar toggle button-->
                            <a class="sidebar-toggle" style="text-decoration:none" data-toggle="push-menu" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <!-- Notifications: style can be found in dropdown.less -->
                                    <li class="dropdown notifications-menu" data-ng-controller="NotificationCtrl as vm" >
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="vm.read();">
                                            <i class="fa fa-bell"></i> 
                                            <span class="label label-info ng-cloak">{{ vm.nbNotifications }}</span>
                                        </a>
                                        <ul class="dropdown-menu ng-cloak" >
                                            <li class="header"><%= __('You have') %> {{ vm.nbNotifications }} <%= __('notification') %>{{ vm.nbNotifications > 1 && 's' || ''}}</li>
                                            <li>
                                                <!-- inner menu: contains the actual data -->
                                                <ul class="menu">
                                                    <li ng-repeat="notification in vm.notifications" >
                                                        <a href="#" class="notification-item-a">
                                                            <i class="{{notification.icon}} {{notification.iconColor}}"></i> {{notification.title}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--<li class="footer"><a href="/dashboard/me"><%= __('View all') %></a></li>-->
                                        </ul>
                                    </li>
            
                                    <!-- User Account: style can be found in dropdown.less -->
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span><%= User.firstname + ' ' + User.lastname %> <i class="caret"></i></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                           
                                            <!-- Menu Footer-->
                                            <li class="user-footer">
                                                
                                                <div class="pull-left">
                                                    <a href="/lock" class="btn btn-flat btn-default"><%= __('Lock') %></a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="/session/destroy" class="btn btn-flat btn-default"><%= __('Sign out') %></a>
                                                </div>
                                            </li>                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                           <img src="/img/waves.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p><%= __('Hello') %> <%= User.firstname %> !</p>
                            <a href="#" class="disabled"><i class="fa fa-circle text-success"></i> <%= __('Online') %></a>
                        </div>
                    </div>
                    <!-- search form -->
                    <!--<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn  "><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>-->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li id="homeLi" >
                            <a href="/dashboard">
                                <i class="fa fa-dashboard"></i> <span><%= __('Home') %></span>
                            </a>
                        </li>
                        <li id="meLi"  >
                            <a href="/dashboard/me">
                                <i class="fa fa-user"></i> <span><%= __('Me') %></span> <!--<small class="badge pull-right bg-green">new</small>-->
                            </a>
                        </li>
                        <li id="alarmLi" class="treeview">
                            <a href="/dashboard/alarm"> 
                                <i class="fa fa-clock-o"></i>
                                <span><%= __('Alarms') %></span>
                            </a>
                        </li>
                        <li id="sensorLi" class="treeview">
                            <a href="/dashboard/device">
                                <i class="fa fa-rss"></i> <span><%= __('Devices') %></span>
                            </a>
                        </li>
                        <li id="mapsLi" class="treeview">
                            <a href="/dashboard/maps">
                                <i class="fa fa-map-marker"></i> <span><%= __('Maps') %></span>
                            </a>
                        </li>
                        <li id="brainLi" class="treeview">
                            <a href="/dashboard/sentence">
                                <i class="fa fa-bolt"></i> <span><%= __('Brain') %></span>
                            </a>
                        </li>
                        <li id="scenarioLi" class="treeview">
                            <a href="/dashboard/scenario">
                                <i class="fa fa-tasks"></i> <span><%= __('Scenarios') %></span>
                            </a>
                        </li>
                        <li id="moduleLi" class="treeview">
                            <a href="/dashboard/module">
                                <i class="fa fa-cloud-download"></i> <span><%= __('Modules') %></span>
                            </a>
                        </li>
                        <li id="scriptLi" >
                            <a href="/dashboard/script">
                                <i class="fa fa-file-text-o"></i> <span><%= __('Scripts') %></span>
                            </a>
                        </li>
                        <li id="parametreLi" class="treeview">
                            <a href="/dashboard/parametres">
                                <i class="fa fa-gear"></i> <span><%= __('Parameters') %></span>
                            </a>
                        </li>
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Include the view file for the current controller/route -->
           
            <%- body %>                    
         

        <!-- Location Controller -->
            <div data-ng-controller="geoLocationCtrl as vm" ></div>
        <!-- End of Location Controller -->

        <footer class="main-footer">
                <div class="hidden-xs pull-right">
                    <%= __('Sources') %>  
                    <a class="fa fa-github-alt" style="text-decoration:none" href="https://github.com/GladysProject/Gladys" target="_blank"></a>
                    <%= __('Website') %>
                    <a class="fa fa-link" style="text-decoration:none" href="https://gladysproject.com" target="_blank"></a>
                </div>
                Gladys <%= gladys.version %>  
        </footer>
    
    </div><!-- ./wrapper -->

        <!-- search bar -->
        <%- partial ('./partials/search.ejs') %>
        <!-- end of search bar -->
    <!--    

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would 
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->
    <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    
    <!-- listen on socket.io for incoming messages -->
    <!--<script type="text/javascript" src="/js/app.js"></script>-->


    

    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject 
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->
       
    </body>
</html>
