<!-- Right side column. Contains the navbar and content of the page -->
<aside class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <%= __('Parameters') %>
            <small><%= __('Control Panel') %></small>
        </h1>
        <ol class="breadcrumb">
            <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
            <li class="active"><%= __('Parameters') %></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="nav-tabs-custom nav-tabs-custom-primary">
            <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><%= __('parameters-general') %></a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><%= __('parameters-house') %></a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false"><%= __('parameters-account') %></a></li>
            <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false"><%= __('parameters-boxs') %></a></li>
            <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="false"><%= __('parameters-security') %></a></li>
            <li class=""><a href="#tab_6" data-toggle="tab" aria-expanded="false"><%= __('parameters-param') %></a></li>
            <li class=""><a href="#tab_7" data-toggle="tab" aria-expanded="false"><%= __('parameters-notification') %></a></li>
            <!-- <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li> -->
            </ul>
            <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <%- partial ('../partials/general.ejs') %>
            </div>
            <div class="tab-pane" id="tab_2">
                <%- partial ('../partials/houses.ejs') %>
            </div> 
            <!-- END OF TAB -->
            <div class="tab-pane" id="tab_3">
                <%- partial ('../partials/account.ejs') %>
            </div> 
            <!-- END OF TAB -->
            <div class="tab-pane" id="tab_4">
                <%- partial ('../partials/boxconfig.ejs') %>
            </div> 
            <!-- END OF TAB -->
            <div class="tab-pane" id="tab_5">
                <%- partial ('../partials/token.ejs') %>
            </div> 
            <!-- END OF TAB -->
            <div class="tab-pane" id="tab_6">
                <%- partial ('../partials/param.ejs') %>
            </div> 
            <!-- END OF TAB -->
            <div class="tab-pane" id="tab_7">
                <%- partial ('../partials/notifications.ejs') %>
            </div>
            <!-- END OF TAB -->
            
    </section><!-- /.content -->
</aside><!-- /.content-wrapper -->

<script>
    document.getElementById("parametreLi").className = "active";
</script>

            