<html>
  <head>
    <title><%= __('Installation') %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
    </style>
    <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/AdminLTE/bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
     <!-- Theme style -->
     <link href="/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body ng-app="gladys">
    
   <div class="container" data-ng-controller="installationCtrl as vm">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><%= __('Gladys installation') %></h2>
                    <p class="lead"><%= __('It will just take a minute.') %></p>
                </div>
            </div>
            <!-- /.row -->  
        	<div class="row form-group">
                <div class="col-xs-12">
                        <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs nav-justified">
                            <li ng-click="vm.changeStep(1)" ng-class="{ 'active': vm.step == 1  }"><a href="#step-1">
                                <h4 class="list-group-item-heading"><%= __('installation-step') %> 1</h4>
                                <p class="list-group-item-text"><%= __('installation-create-account') %></p>
                            </a></li>
                            <li ng-click="vm.changeStep(2)" ng-class="{ 'active': vm.step == 2 }"><a href="#step-2">
                                <h4 class="list-group-item-heading"><%= __('installation-step') %> 2</h4>
                                <p class="list-group-item-text"><%= __('installation-configuration') %></p>
                            </a></li>
                            <li ng-click="vm.changeStep(3)" ng-class="{ 'active': vm.step == 3  }"><a href="#step-3">
                                <h4 class="list-group-item-heading"><%= __('installation-step') %> 3</h4>
                                <p class="list-group-item-text"><%= __('installation-congrats') %></p>
                            </a></li>
                        </ul>
                    </div>
                </div>
        	</div>
            <div class="row setup-content ng-cloak" id="step-1" ng-show="vm.step == 1">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-center">
                        <h1><%= __('installation-welcome') %></h1>
                        <p><%= __('installation-welcome-sentence-installation') %> <%= __('installation-welcome-data-information') %></p>
                            
                            <form class="form-horizontal">   
                               <div class="row">
                                   <div class="col-md-3"></div>
                                   <div class="col-md-6">   
                                       <form class="form-horizontal ng-cloak" >
                                           
                                           <p class="bg-danger" ng-show="vm.createAccountError" style="padding:15px;"></p>
                                           <p class="bg-danger" ng-show="vm.invalidEmail" style="padding:15px;"><%= __('installation-invalid-email') %></p>
                                           <p class="bg-danger" ng-show="vm.invalidPassword" style="padding:15px;"><%= __('installation-invalid-password') %></p>
                                           <p class="bg-danger" ng-show="vm.invalidBirthdate" style="padding:15px;"><%= __('installation-invalid-birthdate') %></p>
                                            
                                            <!-- FirstName -->
                                            <div class="form-group">
                                                <label for="firstname" class="col-sm-4 control-label"><%= __('installation-firstname') %></label>
                                                <div class="col-sm-8">
                                                <input type="text" ng-model="vm.newUser.firstname" class="form-control" id="firstname" placeholder="<%= __('installation-firstname') %>">
                                                </div>
                                            </div>
                                            
                                            <!-- LastName -->
                                            <div class="form-group">
                                                <label for="lastname" class="col-sm-4 control-label"><%= __('installation-lastname') %></label>
                                                <div class="col-sm-8">
                                                <input type="text" ng-model="vm.newUser.lastname" class="form-control" id="lastname" placeholder="<%= __('installation-lastname') %>">
                                                </div>
                                            </div>
                                            
                                            <!-- Email -->
                                            <div ng-class="{'form-group': !vm.invalidEmail , 'form-group has-error': vm.invalidEmail }">
                                                <label for="email" class="col-sm-4 control-label"   ><%= __('installation-email') %></label>
                                                <div class="col-sm-8">
                                                <input type="email" ng-model="vm.newUser.email" class="form-control" id="email" placeholder="<%= __('installation-email') %>">
                                                </div>
                                            </div>
                                            
                                            <!-- Password -->
                                            <div ng-class="{'form-group': !vm.invalidPassword , 'form-group has-error': vm.invalidPassword }">
                                                <label for="password"  class="col-sm-4 control-label" ><%= __('installation-password') %></label>
                                                <div class="col-sm-8">
                                                <input type="password" ng-model="vm.newUser.password" class="form-control" id="password" placeholder="<%= __('installation-password') %>">
                                                </div>
                                            </div>
                                            
                                             <!-- Birthdate -->
                                            <div ng-class="{'form-group': !vm.invalidBirthdate , 'form-group has-error': vm.invalidBirthdate }">
                                                <label for="birthdate" class="col-sm-4 control-label" ><%= __('installation-birthdate') %></label>
                                                <div class="col-sm-8">
                                                <input ng-model="vm.newUser.birthdate" class="form-control" id="birthdatepicker" placeholder="<%= __('installation-birthdate-placeholder') %>">
                                                </div>
                                            </div>
                                            
                                            <!-- Country code -->
                                            <div ng-class="{'form-group': !vm.invalidCountryCode , 'form-group has-error': vm.invalidCountryCode }">
                                                <label for="countrycode" class="col-sm-4 control-label"><%= __('installation-language') %></label>
                                                <div class="col-sm-8">
                                                <select class="form-control" id="countrycode"  ng-model="vm.newUser.language">
                                                    <option value="en-US">English</option>
                                                    <option value="fr-FR">Français</option>
                                                </select>
                                                </div>
                                            </div>
                                            
                                            <!-- Preparation time -->
                                            <!--<div class="form-group">
                                                <label for="countrycode" class="col-sm-4 control-label"><%= __('installation-preparation-time') %></label>
                                                <div class="col-sm-8">
                                                <input type="text" ng-model="vm.newUser.preparationTime" class="form-control" id="countrycode" placeholder="<%= __('installation-countrycode') %>">
                                                </div>
                                            </div>-->
                                            
                                            
                                            <!-- Gender -->
                                             <div class="form-group">
                                                <label for="gender" class="col-sm-4 control-label">
                                                     <%= __('installation-gender') %>
                                                </label>
                                                <div class="col-sm-8">
                                                    <select ng-model="vm.newUser.gender" class="form-control" id="gender">
                                                        <option value="0"><%= __('installation-male') %></option>
                                                        <option value="1"><%= __('installation-female') %></option>
                                                    </select>
                                                </div>
                                             </div>
                                             
                                         </form>      
                                        
                                </div>           
                             </div>
                             
                             </form>
                            <div class="pull-right"><button ng-click="vm.changeStep(2)" class="btn btn-flat btn-primary"><%= __('Next') %></button></div>
                        
                    </div>
                </div>
            </div>
            <div class="row setup-content ng-cloak" id="step-2" ng-show="vm.step == 2">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-center">
                        <h2 class="text-center"><%= __('Configuration') %></h2>
                         
                          <p ng-show="vm.downloadStep > 0"><%= __('installation-downloading-modes') %></p>
                          <p ng-show="vm.downloadStep > 1"><%= __('installation-downloading-sentences') %></p>
                          <p ng-show="vm.downloadStep > 3"><%= __('installation-downloading-events') %></p>
                          <p ng-show="vm.downloadStep > 2"><%= __('installation-downloading-boxs') %></p>
                          <p ng-show="vm.downloadStep > 4"><%= __('installation-downloading-categories') %></p>
                          <p ng-show="vm.downloadStep > 6"><%= __('installation-downloading-states') %></p>
                          <p ng-show="vm.downloadStep > 7"><%= __('installation-training-brain') %></p>
                          <p ng-show="vm.downloadStep > 8"><%= __('installation-checking-for-updates') %></p>
                          <p ng-show="vm.downloadStep > 9"><%= __('installation-configuration-success') %></p>
                          
                          <p class="bg-danger" style="padding:15px;" ng-show="vm.downloadError">{{vm.downloadError}}</p>
                          <div class="progress active">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ vm.downloadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.downloadProgress}}%">
                                <!--<span class="sr-only">20% Complete</span>-->
                                </div>
                          </div>
                         
                          <div class="pull-right"><button  ng-click="vm.changeStep(3)" class="btn btn-flat btn-primary"><%= __('Next') %></button></div>
                             
                        
                    </div>
                </div>
            </div>
            <div class="row setup-content ng-cloak" id="step-3" ng-show="vm.step == 3">
                <div class="col-xs-12">
                    <div class="col-md-12 well text-center">
                        <h1 class="text-center"><%= __('Congratulation') %></h1>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                <%= __('congrat-gladys-well-installed') %>
                                    <%= __('thank-you-for-installing-gladys') %>
                                    <%= __('gladys-only-work') %>
                                    </div>
                             </div>
                             
                             <hr class="small">
                            <div class="row"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gladysproject.com" data-text="I'm using Gladys, the smart home automation assistant, and I love it !" data-size="large" data-via="gladysproject" data-count="none">Tweet</a>
                            </div>
                            
                             <div class="pull-right"><a href="/dashboard" class="btn btn-flat btn-primary"><%= __('Finish') %></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    
    
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>