<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <%= __('Alarms') %>
                        <small><%= __('Control Panel') %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
                        <li class="active"><%= __('Alarms') %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="box skin-box box-primary box-solid">
                         <div class="box-body table-responsive" data-ng-controller="AlarmCtrl as vm">
                                    
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th><%= __('Name') %></th>
                                                <th><%= __('Moment') %></th>
                                                <th><%= __('alarm-auto-alarm') %></th>
                                                <th><%= __('Delete') %></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="alarm in vm.alarms" class="ng-cloak">
                                                <td>{{alarm.name}}</td>
                                                <td ng-show="alarm.dayofweek == -1 && !alarm.cronrule" >{{alarm.moment}}</td>
                                                <td ng-show="alarm.dayofweek != -1 && !alarm.cronrule && !alarm.autoWakeUp">{{alarm.moment}}, {{alarm.time}}</td>
                                                <td ng-show="alarm.dayofweek != -1 && alarm.autoWakeUp">{{alarm.moment}}</td>
                                                <td ng-show="alarm.cronrule">{{alarm.cronrule}}</td>
                                                <td>
                                                    <span ng-show="alarm.autoWakeUp"><%= __('Yes') %></span>
                                                    <span ng-show="!alarm.autoWakeUp"><%= __('No') %></span>
                                                </td>
                                                <td><button ng-click="vm.destroyAlarm($index, alarm.id)" class= "btn btn-flat btn-danger  "><%= __('Delete') %></button></td>
                                            </tr>
                                            <tr>

                                                
                                                <td><button class="btn btn-flat btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" ><%= __('New') %></button></td>
                                            </tr>
                                        </tbody>
                                    </table>   


                                        <!-- MODAL -->
                                     <!-- Large modal -->
                                    <div id="modalNewAlarm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                           <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="<%= __('Close') %>"><span aria-hidden="true">×</span></button>
                                                  <h4 class="modal-title" id="myLargeModalLabel"><%= __('Set an alarm') %></h4>
                                                </div>
                                                <div class="modal-body">
                                                  
                                                            <p>
                                                                <%= __('alarm-explanation') %>
                                                            </p>

                                                             <!-- NEW BOX -->
                                                          <div class="box box-solid">
                                                          <div class="box-header with-border">
                                                            <h3 class="box-title"><%= __('Pick a date') %></h3>
                                                          </div>  
                               
                                                            <div class="box-body">
                                                               <div class="row">
                                                                    <div class='col-md-2'>
                                                                        <input type="text" class="form-control" ng-model="vm.newAlarm.name" placeholder="<%= __('Name') %>" />
                                                                    </div>
                                                                    <div class='col-md-4'>
                                                                        <div class="form-group">
                                                                            <div class='input-group date' id='datetimepicker2'>
                                                                                <input type='text' class="form-control" id="NewAlarmDatetime" placeholder="<%= __('Date') %>" />
                                                                                <span class="input-group-addon"><span class="fa fa-calendar "></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class='col-md-4'>
                                                                        <div class="form-group">
                                                                           <select class="form-control" ng-model="vm.newAlarm.isWakeUp" ng-init="vm.newAlarm.isWakeUp = '1'" >
                                                                                <option  value="1" ><%= __('alarm-is-alarm-clock') %></option>
                                                                                <option  value="0" ><%= __('alarm-is-not-alarm-clock') %></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                     <div class='col-md-2'>
                                                                        <button class="btn btn-flat btn-success  " ng-click="vm.createAlarm()"><%= __('New') %></button>
                                                                      </div>
                                                                </div>
                                                            </div>
                                                          </div>
                                                            <!-- END OF BOX -->
                                                            
                                                             <!-- NEW BOX -->
                                                          <div class="box box-solid">
                                                          <div class="box-header with-border">
                                                            <h3 class="box-title"><%= __('alarm-sleep-now') %></h3>
                                                          </div>  
                               
                                                            <div class="box-body">
                                                               <div class="row">
                                                                    <div class='col-md-2'>
                                                                        <input type="text" class="form-control" ng-model="vm.newTimer.name" placeholder="<%= __('Name') %>" />
                                                                    </div>
                                                                    <div class='col-md-4'>
                                                                        <div class="form-group">
                                                                            <div>
                                                                                <input type='text' class="form-control" ng-model="vm.newTimer.duration" id="NewAlarmDatetime" placeholder="<%= __('alarm-time-sleep') %>" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class='col-md-4'>
                                                                        <div class="form-group">
                                                                           <select class="form-control" ng-model="vm.newTimer.isWakeUp" ng-init="vm.newTimer.isWakeUp = '1'">
                                                                                <option  selected value="1" ><%= __('alarm-is-alarm-clock') %></option>
                                                                                <option  value="0" ><%= __('alarm-is-not-alarm-clock') %></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                     <div class='col-md-2'>
                                                                        <button class="btn btn-flat btn-success  " ng-click="vm.createTimer(vm.newTimer)"><%= __('New') %></button>
                                                                      </div>
                                                                </div>
                                                            </div>
                                                          </div>
                                                            <!-- END OF BOX -->
                                                         
                                                           <!-- NEW BOX -->
                                                          <div class="box box-solid">
                                                          <div class="box-header with-border">
                                                            <h3 class="box-title"><%= __('Set a recurring alarm') %></h3>
                                                          </div>  
                               
                                                            <div class="box-body">
                                                               <div class="row">
                                                                    <div class='col-md-2'>
                                                                        <input type="text" class="form-control" ng-model="vm.newAlarmReccuring.name" placeholder="<%= __('Name') %>" />
                                                                    </div>
                                                                    
                                                                    <div class='col-md-2'>
                                                                        <div class="form-group">
                                                                           <select class="form-control" ng-model="vm.newAlarmReccuring.dayofweek" ng-init="vm.newAlarmReccuring.dayofweek = '1'" >
                                                                                <option  selected value="1" ><%= __('Monday') %></option>
                                                                                <option value="2"><%= __('Tuesday') %></option>
                                                                                <option value="3"><%= __('Wednesday') %></option>
                                                                                <option value="4"><%= __('Thursday') %></option>
                                                                                <option value="5"><%= __('Friday') %></option>
                                                                                <option value="6"><%= __('Saturday') %></option>
                                                                                <option value="0"><%= __('Sunday') %></option>
                                                                                
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class='col-md-4'>
                                                                        <div class="form-group">
                                                                           <select class="form-control" ng-model="vm.newAlarmReccuring.isWakeUp" ng-init="vm.newAlarmReccuring.isWakeUp = '1'">
                                                                                <option  selected value="1" ><%= __('alarm-is-alarm-clock') %></option>
                                                                                <option  value="0" ><%= __('alarm-is-not-alarm-clock') %></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <div class='input-group date' id='datetimepicker3'>
                                                                                <input type='text' class="form-control" id="NewAlarmTime" placeholder="<%= __('Time') %>" />
                                                                                <span class="input-group-addon"><span class="fa fa-clock-o"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                     <div class='col-md-2'>
                                                                         <button class="btn btn-flat btn-success  " ng-click="vm.createAlarmRecurring()"><%= __('New') %></button>
                                                                      </div>
                                                                   
                                                                </div>
                                                            <!-- End of DateTime Boostrap Picker -->
                                                            
                                                            </div>
                                                          </div>
                                                          <!-- END OF BOX -->

                                                          <!-- NEW BOX -->
                                                          <div class="box box-solid">
                                                          <div class="box-header with-border">
                                                            <h3 class="box-title"><%= __('alarm-cron-rule') %></h3>
                                                          </div>  
                               
                                                            <div class="box-body">
                                                               <p><%= __('alarm-cron-rule-text') %> <a href="https://github.com/node-schedule/node-schedule" >https://github.com/node-schedule/node-schedule</a>.</p>
                                                               <div class="row">
                                                                    <div class='col-md-2'>
                                                                        <input type="text" class="form-control" ng-model="vm.newAlarmCron.name" placeholder="<%= __('Name') %>" />
                                                                    </div>
                                                                    
                                                                    <div class='col-md-4'>
                                                                        <input type="text" class="form-control" ng-model="vm.newAlarmCron.cronrule" placeholder="* * * * * *" />
                                                                    </div>

                                                                    <div class='col-md-4'>
                                                                        <div class="form-group">
                                                                           <select class="form-control" ng-model="vm.newAlarmCron.isWakeUp" ng-init="vm.newAlarmCron.isWakeUp = '1'">
                                                                                <option  selected value="1" ><%= __('alarm-is-alarm-clock') %></option>
                                                                                <option  value="0" ><%= __('alarm-is-not-alarm-clock') %></option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                
                                                                     <div class='col-md-2'>
                                                                         <button class="btn btn-flat btn-success  " ng-click="vm.createAlarmCron()"><%= __('New') %></button>
                                                                      </div>
                                                                   
                                                                </div>
                                                            
                                                            </div>
                                                          </div>
                                                          <!-- END OF BOX -->

                                                          <!-- NEW BOX -->
                                                          <div class="box box-solid">
                                                          <div class="box-header with-border">
                                                            <h3 class="box-title"><%= __('alarm-auto-alarm') %></h3>
                                                          </div>  
                               
                                                            <div class="box-body">
                                                               <p><%= __('alarm-auto-alarm-text') %></p>
                                                               <div class="row">
                                                                    <div class='col-md-2'>
                                                                        <input type="text" class="form-control" ng-model="vm.newAlarmAutoWakeUp.name" placeholder="<%= __('Name') %>" />
                                                                    </div>
                                                                    
                                                                    <div class='col-md-2'>
                                                                        <div class="form-group">
                                                                           <select class="form-control" ng-model="vm.newAlarmAutoWakeUp.dayofweek" ng-init="vm.newAlarmAutoWakeUp.dayofweek = '1'">
                                                                                <option  selected value="1" ><%= __('Monday') %></option>
                                                                                <option value="2"><%= __('Tuesday') %></option>
                                                                                <option value="3"><%= __('Wednesday') %></option>
                                                                                <option value="4"><%= __('Thursday') %></option>
                                                                                <option value="5"><%= __('Friday') %></option>
                                                                                <option value="6"><%= __('Saturday') %></option>
                                                                                <option value="0"><%= __('Sunday') %></option>
                                                                                
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                
                                                                     <div class='col-md-4'>
                                                                         <button class="btn btn-flat btn-success  " ng-click="vm.createAlarmAutoWakeUp()"><%= __('New') %></button>
                                                                      </div>
                                                                   
                                                                </div>
                                                            
                                                            </div>
                                                          </div>
                                                          <!-- END OF BOX -->
                                                     
                                             </div>
                                      </div>
                                    </div>
                                    </div>
                                    <!-- END OF MODAL -->
                             

                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.content-wrapper -->

    	    <script>
                document.getElementById("alarmLi").className = "active";
            </script>
                
            